In [527]:
# We import the libraries that we will use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import re

In [528]:
# We customize what we want to see
%matplotlib inline
%config Inlinebackend.figure_format= 'retina'
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [529]:
# We upload the data set, we call it "tiburon"
tiburon = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")
tiburon

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [530]:
#We get the info of the database to see the Dtype of lements we have. This might come in handy later on
tiburon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [531]:
#we cleant the data by first changing all the columns name special characters and spaces into " _ ", 
# this way we wont have any issue when manipulating columns.
#we first make a list with all the original colums, then we print them to see what we want to clean
#on the secon line of code, we replace them and obtain a dictionary with the old names and new names.
#we check again and see if there is any other special character to be cleaned.
columnas = list(tiburon.columns)
print(columnas)
tiburon_two = {columna: columna.replace(" ", "_").replace(".", "_").replace(":", "").lower() for columna in columnas}
print(tiburon_two)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']
{'Case Number': 'case_number', 'Date': 'date', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area', 'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex_', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatal_(y/n)', 'Time': 'time', 'Species ': 'species_', 'Investigator or Source': 'investigator_or_source', 'pdf': 'pdf', 'href formula': 'href_formula', 'href': 'href', 'Case Number.1': 'case_number_1', 'Case Number.2': 'case_number_2', 'original order': 'original_order', 'Unnamed: 22': 'unnamed_22', 'Unnamed: 23': 'unnamed_23'}

In [532]:
# in this step we check the columns one by one to see that they are all understandable. 
#we can see that columns like "sex_" have an extra character that must be cleaned. This will be done manually
#It can also be done with Regex, but since its just a few, is faster manually
tiburon_two["Sex "] = "sex"
tiburon_two["Fatal (Y/N)"] = "fatal"
tiburon_two["Species "] = "species"

In [533]:
#we rename all columns from the dictionary tiburon_two into our dataset, calling it tiburon_renamed.
#we print the head to see that all columns have the correct number.
tiburon_renamed = tiburon.rename(columns=tiburon_two)
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [534]:
# we drop all duplicated rows, since we dont need duplicated data.
tiburon_renamed.drop_duplicates(inplace=True)

In [535]:
#We check the new shape
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [536]:
#Here we can sum all the nans inside the columns
tiburon_renamed.isna().sum()

case_number                  2
date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal                      549
time                      3364
species                   2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
case_number_1               10
case_number_2               10
original_order               3
unnamed_22                6311
unnamed_23                6310
dtype: int64

In [537]:
#as we can see, unnamed 22 and 23 have 99% of the elements as NaN, so we can drop them
tiburon_renamed.drop(["unnamed_22", "unnamed_23"],axis=1,inplace=True)

In [538]:
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [539]:
# I want to eliminate columns that are the same, mainly because they are useless and take extra space and proccesing time
# This step could had been done before changing the variable names, but I prefer it in this order. 
# All comparison follow the same structure: Check the shape of the dataframe (6312 rows) 
# and see if we get the same amount of rows betwen two columns

In [540]:
# This is a bit confusing but here it goes:
# 1) After seeing the data head i realized that Date and Case_numbers are all dates that looks the same.
# 2) What I did was to check which rows does case_number and cas_number_2 are not the same, and we got 14 rows
# 3) I displayed them next to date, case_number, case_number_1 and case_number_2 and see if those 14 rows are also dates and similar.
# 4) The conclusion is that all case_number are the same as date and should be drop
tiburon_renamed[["date","case_number","case_number_1","case_number_2"]][(tiburon_renamed["case_number"])!=(tiburon_renamed["case_number_2"])].sample(14)

                       date   case_number case_number_1 case_number_2
390             10-Jul-2015    2015.07-10    2015.07.10    2015.07.10
6309                    NaN             0           NaN           NaN
6304                    NaN             0           NaN           NaN
6307                    NaN             0           NaN           NaN
5944               May-1864       1864.05    1864.05.00    1864.05.00
6306                    NaN             0           NaN           NaN
6302                    NaN             0           NaN           NaN
25722                   NaN            xx           NaN           NaN
5488   Reported 06-Sep-1905           NaN  1905.09.06.R  1905.09.06.R
8702                    NaN           NaN           NaN           NaN
6303                    NaN             0           NaN           NaN
4949   Reported 08-Feb-1934  1934.01.08.R  1934.02.08.R  1934.02.08.R
6305                    NaN             0           NaN           NaN
6308                    NaN             0           NaN           NaN

In [541]:
# Since they al reflect date, we will erase all the case_number columns and leave only the date column
tiburon_renamed.drop(["case_number","case_number_1","case_number_2"],axis=1,inplace=True)

In [542]:
tiburon_renamed

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,original_order
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [543]:
# I do this in order to see a cleaner dataframe
tiburon_renamed.sample(50)

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,original_order
4431,22-Oct-1951,1951.0,Unprovoked,AUSTRALIA,Queensland,"Ocean baths, Kissing Point Beach",Swimming,Arthur James Kenealey,M,42,"FATAL, leg severed, shark dragged him through ...",Y,19h10,NaN,"V.M. Coppleson (1958), pp.90-91; A. Sharpe, pp...",1951.10.22-Kenealy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1872.0
1272,18-Apr-2008,2008.0,Invalid,MEXICO,Quintana Roo,"Delfines Beach, Cancun",Swimming,Joram Galleros Villanueva,M,32,Probable drowning with post-mortem bites,NaN,Evening,"Reported by media as shark attack, but shark i...",C.Johansson,2008.04.18-Villanueva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5031.0
5459,09-Feb-1907,1907.0,Unprovoked,PHILIPPINES,Luzon Island,Manila Bay,Row boat (from the gunboat Elcano) was sinking...,J.J. Dunlap,M,NaN,Finger severed,N,NaN,NaN,"Souix Vally News, 4/4/1907; V.M. Coppleson (19...",1907.02.09-J.J.Dunlap.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,844.0
5515,1904,1904.0,Unprovoked,PHILIPPINES,Quezon,Tayabas,Bathing,Lt. Edward Hearn,M,NaN,Left arm bitten,N,NaN,NaN,"N.Y. Sun, 3/19/1911",1904.00.00.b-Hearn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,788.0
3134,19-Dec-1977,1977.0,Unprovoked,USA,Florida,"Hobe Sound, Palm Beach County",Surfing,Raymond Brockway,M,27,Laceration to right hand,N,NaN,NaN,"Sarasota Herald-Tribune, 12/20/1977",1977.12.19.b-Brockway.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3169.0
4313,1955,1955.0,Invalid,USA,Illinois,Chicago (Lake Michigan),Swimming,George Lawson,M,NaN,Right leg allegedly bitten by a bull shark,NaN,NaN,Questionable incident,"F. Dennis, p.52",1955.00.00.c-Chicago.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.0
3720,22-Dec-1963,1963.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,"Next to West Street groyne, Durban",Helping friend land hooked shark,Desmond Woodhams,M,13,Foot lacerated PROVOKED INCIDENT,N,18h30,"Dusky shark, 1 m","M. Levine, GSAF",1963.12.22.a-Woodhams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2583.0
2598,07-Jun-1991,1991.0,Unprovoked,HONG KONG,Port Shelter,"Silverstrand Beach, near Hung Hau",Swimming,Yeung Tam-ho (female),F,65,Abdomen bitten & leg severed FATAL,Y,Between 06h00 & 07h20,"Tiger shark, >3 m [10']","Sunday Mail, 6/9/91, p.28",1991.06.07.a-YeungTam-ho.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3705.0
5992,Reported 14-Jan 1858,1858.0,Unprovoked,USA,Hawaii,NaN,Swimming,Minor Hodgdon,M,NaN,FATAL,Y,NaN,NaN,New York Times 3/14/1858,1858.01.14.R-Hodgdon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,311.0
2673,Reported 06-Aug-1989,1989.0,Provoked,AUSTRALIA,Queensland,Moreton Bay,Fishing for sharks,Vic Hislop,M,41,Laceration to arm PROVOKED INCIDENT,N,NaN,3.5 m white shark,"Sunday Mail, 8/6/1989",1989.08.06.R-Hislop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3630.0
1070,24-Nov-2009,2009.0,Unprovoked,USA,Florida,"Lori Wilson Park, Cocoa Beach, Brevard County",Wading,Garrett Gollihugh,M,10,Left foot bitten,N,Morning,6' shark,My Fox Orlando,2009.11.24-Gollighugh.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5233.0
4158,17-Jun-1958,1958.0,Provoked,USA,Florida,Key Biscayne,"Swimming, towing the shark",B. Irving,M,NaN,Thigh bitten PROVOKED INCIDENT,N,NaN,"Nurse shark, 1.1 m [3.5']","Randall in Sharks & Survival, pp.357",1958.06.17-Irving.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2145.0
2590,07-Jul-1991,1991.0,Unprovoked,USA,Florida,"South Miami Beach, Dade County",Swimming,Jorge Garcia,M,22,Arm bitten,N,18h45,NaN,"E. Pace, FSAF",1991.07.07-Garcia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3713.0
2273,28-Oct-1996,1996.0,Unprovoked,BRAZIL,Pernambuco,Barra de Jangada,Surfing,Gilvan Jaime de Freitas JÃºnior,NaN,NaN,Leg bitten,N,NaN,NaN,D. Duarte,1996.10.28.b-deFrietas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4030.0
5600,1898,1898.0,Unprovoked,JAMAICA,Kingston Parish,Kingston Harbor,Trailing hand in the water,Gonzales,F,NaN,"Hand lacerated, 2 fingers severed",N,NaN,NaN,"Indiana Evening Gazette, 11/22/1904",1898.00.00.d-Gonzales.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,703.0
4064,Sep-1959,1959.0,Unprovoked,MEXICO,Guerrrero,Acapulco,NaN,French woman,F,"""middle-age""","FATAL, leg severed, other leg lacerated",Y,NaN,NaN,"A. R. Satz; P. Gilbert, L. Schultz & S. Sprin...",1959.09.00-French-woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2239.0
5866,Reported 04-Jun-1876,1876.0,Unprovoked,USA,Georgia,Cumberland Island,Bathing,Arthur E.. Boardman,M,NaN,Leg bitten,N,NaN,NaN,"The Constitution, 6/24/1876",1876.06.04.R-Boardman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,437.0
5161,Nov-1925,1925.0,Unprovoked,USA,Puerto Rico,"Condado Beach, San Juan",NaN,LawyerÂs secretary,F,NaN,Laceration across abdomen,N,NaN,NaN,"V.M. Coppleson (1958), pp.48 & 265",1925.11.00.b-secretary.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1142.0
4180,Circa 1958,1958.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,MaKakatana River,"Fishing, walking in river to cast",young Zulu male,M,NaN,"FATAL, right leg severed above knee",Y,NaN,NaN,"J. Daniel, M. Levine. GSAF",1958.00.00.a-KakatanaRiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2123.0
5478,16-Apr-1906,1906.0,Provoked,AUSTRALIA,Victoria,Western Port Bay,Shooting sharks,Leo Clarke,M,NaN,Finger severed by shark he had shot & stabbed ...,N,NaN,13' shark,"The Argus, 4/18/1906",1906.04.16-Clarke.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,825.0
5551,27-Dec-1900,1900.0,Unprovoked,AUSTRALIA,New South Wales,"Middle Harbour, Sydney",Bathing,Thomas Houstan,M,NaN,FATAL,Y,NaN,NaN,"Taranaki Herald, 12/28/1900",1900.12.27-Houston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,752.0
1163,25-Jan-2009,2009.0,Unprovoked,CUBA,Guantanamo Province,Guantanamo Bay,Spearfishing,John Emory,M,15,Severe lacerations to lower left leg,N,10h30,Bull shark,"J. Emory; Caribbean Net, 4/142009",2009.01.25-Emory.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5140.0
2424,22-Aug-1994,1994.0,Unprovoked,JAPAN,Kagoshima Prefecture,Tatsugo-cho,NaN,Nagisa Yasuhara,NaN,NaN,Survived,N,NaN,NaN,K. Nakaya,1994.08.22-Yashuhara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3879.0
2875,17-Oct-1984,1984.0,Invalid,USA,Florida,"Boynton Beach, Palm Beach County",Wading,Mary Dunn,F,77,"10"" laceration on leg",NaN,12h05,Shark involvement not confirmed; officials con...,"Miami Herald, 10/18/1984,",1984.10.17-Dunn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3428.0
3222,23-Jun-1975,1975.0,Unprovoked,USA,South Carolina,"Windy Hill, near Myrtle Beach, Horry County",Swimming,Jim Krents,M,18,Lacerations to right foot,N,16h30,4' shark,"Morning Herald (Uniontown, PA), 7/2/1975",1975.06.23.b-Krents.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3081.0
2431,08-Jul-1994,1994.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Michael Post,M,15,Right calf lacerated,N,15h00,"""small shark""","P. LaMee, Orlando Sentinel, 9/4/1995, p. D3",1994.07.08.a-MichaelPost.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3872.0
3232,29-Mar-1975,1975.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Tongaat,Swimming,Indian male,M,NaN,Probable drowning / scavenging by a white shark,NaN,NaN,Shark involvement prior to death was not confi...,"B. Davis, Natal Sharks Board",1975.03.29-Tongaat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3071.0
1995,29-Oct-2000,2000.0,Boat,AUSTRALIA,Queensland,Peel Island,Fishing,"boat, occupant: Paul Kelly",NaN,31,"No Injury to occupant, shark holed and sank boat",N,22h00,White shark,"T. Peake, GSAF",2000.10.29-Kelly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4308.0
4516,13-Apr-1949,1949.0,Unprovoked,MEXICO,Tamaulipas,"Miramar Beach, Tampico",Bathing,male,M,NaN,"U.S. destroyer John W. Weeks, 6 miles offshore...",N,NaN,NaN,"New York Herald Tribune, 4/15/1949",1949.04.13-Miramar.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.0
1953,13-Apr-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Jonathan Bush,M,16,Foot & ankle lacerated,N,11h00,NaN,"J. Eager, scubaradio.com; Orlando Sentinel, Ap...",2001.04.13.b-Bush.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4350.0
1770,08-Jun-2003,2003.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,J.D.,NaN,15,6 puncture wounds to left ankle,N,11h55,NaN,"S. Petersohn, GSAF",2003.06.08-JD.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4533.0
6155,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,148.0
5163,04-Sep-1925,1925.0,Provoked,SPAIN,Valencia,Valencia,Fishing,Pascual Gurran,M,NaN,Right hand bitten by hooked shark PROVOKED INC...,N,NaN,NaN,C. Moore. GSAF,1925.09.04-Gurren-Valencia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1140.0
41,18-Feb-2018,2018.0,Provoked,AUSTRALIA,Victoria,Westernport Bay,Kayak fishing for sharks,Brett Palmer,M,34,"Shark rammed kayak, no injury to occupant PRO...",N,Night,NaN,"B. Myatt, GSAF",2018.02.17-Palmer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6262.0
151,26-Apr-2017,2017.0,Invalid,USA,Florida,NaN,Photo shoot,Molly Cavelli,F,NaN,Alleged laceration to left ankle,NaN,NaN,No shark invovlement - it ws a publicity stunt,"The Sun, 5/6/2017",2017.05.26-Cavelli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6152.0
52,05-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Justin,M,NaN,Foot bitten,N,NaN,Wobbegong shark?,"Perth Now, 1/6/2018",2018.01.05-Justin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6251.0
3501,Nov-1967,1967.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Brighton Beach,NaN,female,F,NaN,Bones and brightly colored bangles recovered ...,NaN,NaN,Shark involvement prior to death was not confi...,"A. Heydorn, ORI",1967.11.00-BrightonBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2802.0
3811,25-Jun-1962,1962.0,Invalid,USA,Florida,"Fernandina Beach, Nassau County",U.S. Airforce crewman reported missing after b...,male,M,NaN,FATAL,NaN,NaN,Shark involvement not confirmed,SAF Case #1106,1962.06.25-NV-AirForce-bailout.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2492.0
1075,08-Nov-2009,2009.0,Unprovoked,AUSTRALIA,South Australia,Second Valley,Kayaking,Dean Brougham,M,25,Ankle bitten,N,10h30,2 m shark,"Adelaide Now, 11/19/2009",2009.11.08-Brougham.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5228.0
1227,26-Jul-2008,2008.0,Unprovoked,USA,Hawaii,"Honokowai, Maui",Swimming,U. Mataafa,M,NaN,Minor injury,N,15h30,2' to 3' reef shark,"Maui News, 7/27/2008",2008.07.26.a-Maui,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5076.0
1827,21-Sep-2002,2002.0,Unprovoked,USA,California,"Moonstone Beach, Humboldt County",Surfing,Reed Richards,M,35,No injury,N,Early Morning,3 m to 3.7 m [10' to 12'] shark,"R. Collier , GSAF",2002.09.21.a-Richards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4476.0
1860,Reported 21-May-2002,2002.0,Unprovoked,COSTA RICA,Guanacaste,Playa Grande,Surfing,Nick Wallace,M,NaN,Toothmarks in board & his swim trunks,N,NaN,"Bull shark, 1.8 m to 2.1 m [6' to 7']",Surfline.com,2002.05.21.R-Wallace.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4443.0
4238,15-Aug-1956,1956.0,Unprovoked,USA,California,"Pismo Beach, San Luis Obispo County",Swimming near pier,Douglas Clarke,M,10,"Lacerated thigh, hand & shoulder",N,16h30,"White shark, 2.7 m [9']","D. Miller & R. Collier, V.M. Coppleson (1958),...",1956.08.15.a-DouglasClarke.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2065.0
4130,13-Dec-1958,1958.0,Unprovoked,USA,Hawaii,"Near Twin Islands off Lanikai, O'ahu (east coast)",Surfing on air mattress,William S. Weaver,M,15,"FATAL, leg severed",Y,13h00,"Tiger shark, 4.6 m to 7.6 m [15' to 25']",A. L. Tester,1958.12.13-Weaver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2173.0
2755,06-Jan-1988,1988.0,Provoked,SOUTH AFRICA,Western Cape Province,Struisbaai,Attempting to lasso shark's tail,J.A. McKay,M,33,Foot lacerated by hooked shark PROVOKED INCIDENT,N,11h15,1.5 m copper shark,"M. Levine, GSAF",1988.01.06-McKay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3548.0
2658,14-Oct-1989,1989.0,Invalid,USA,Hawaii,"Kahe Point, O'ahu",Scuba diving,"Ray Mehl, Jr.",M,NaN,Disappeared 15 minutes into shallow dive. Deca...,NaN,16h30,Shark involvement suspected but not confirmed,"Washington Post, 10/17/1989, J. Borg, pp.77-78...",1989.10.14-Mehl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3645.0
4602,20-Mar-1946,1946.0,Boating,AUSTRALIA,South Australia,Grange,Fishing,"14' catamaran, occupant: M. Leverenz",M,28,"No injury; shark rammed boat, catapulting Leve...",N,19h00,NaN,"Sydney Morning Herald, 3/22/1946",1946.03.20-Leverenz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1701.0
5157,1926,1926.0,Provoked,NEW ZEALAND,Cook Islands,Rarotonga,Shark hoisted on board liner Tahiti,Bosun of the ship,M,NaN,"Struck on head by sharkÂs tail, knocked uncons...",N,NaN,NaN,"V.M. Coppleson (1958), pp.176-177",1926.00.00.c-bosun-Tahiti.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1146.0
3499,15-Nov-1967,1967.0,Provoked,FIJI,NaN,NaN,Freediving,Stephen Wiltshire,M,21,Hand lacerated by speared shark PROVOKED INCIDENT,N,Morning,NaN,H.D.Baldridge (1994) SAF Case #1537,1967.11.15-NV-Wiltshire.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2804.0
5722,09-Dec-1888,1888.0,Unprovoked,AUSTRALIA,New South Wales,"Iron Cove Bridge, Sydney (Estuary)",Swimming,Stephen Carter,M,11,FATAL,Y,13h00,NaN,"G.P. Whitley (1951), p.192, citing Sydney Morn...",1888.12.09-Carter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,581.0

In [544]:
#here i count the amount of NaN that i have in each column
tiburon_renamed.isna().sum()

date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal                      549
time                      3364
species                   2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
original_order               3
dtype: int64

In [545]:
#I decided to drop all the columns that i wont use in my hypothesis
tiburon_clean = tiburon_renamed.drop(["species","time","original_order","href","href_formula","pdf","investigator_or_source"],axis=1)

In [546]:
#By making these lines of code, I can erase all the columns and rows where all values are NaN
tiburon_clean.dropna(axis=0, how='all',inplace=True)
tiburon_clean.dropna(axis=1, how='all',inplace=True)

In [547]:
#In this loop i can check the unique values of each column
# I then print al lvalues and see which function il lcreate to clean further
for i in tiburon_clean.keys():
    
    print(i, len(list(tiburon_clean[i].unique())))

date 5433
year 250
type 9
country 213
area 826
location 4109
activity 1533
name 5231
sex 7
age 158
injury 3738
fatal 9

In [548]:
set(list(tiburon_clean["date"].unique()))

{'Reported 11-Sep-1994',
 '31-Jul-2017',
 '12-July-1913',
 '12-Aug-1991',
 '29-Apr-2015',
 '28-Sep-1985',
 '07-Apr-1926',
 '24-Jan-2009',
 '1896',
 ' 04-Sep-2010',
 '27-Dec-1948',
 '17-Sep-1976',
 '08-Dec-1963',
 'Oct-1953',
 '27-Jan-1964',
 '20-Sep-1964',
 '27-Sep-2002',
 '01-Oct-2010',
 '30-Jun-2011',
 '05-Jan-2013',
 '05-Dec-2011',
 '20-Dec-2002',
 '26-Jun-1936',
 '1912',
 '29-Sep-2006',
 '26-Jan-1910',
 '05-Apr-2004',
 '09-Mar-1937',
 '23-Jan-1965',
 '09-Oct-2015',
 '04-Sep-2015',
 '08-Jun-1998',
 '24-May-1844',
 'Jan-1985',
 '04-Jul-2016',
 '26-Aug-1962',
 '16-Jul-2014',
 '26-Apr-1998',
 '08-Jul-2006',
 '31-Dec-1972',
 '18-May-2001',
 'Reported 22-Apr-1830',
 '13-Jan-2012',
 '19-Dec-1981',
 '14-Dec-1999',
 '09-Jun-1965',
 '02-Sep-1974',
 '07-Feb-2009',
 '13-Mar-1975',
 '19-Mar-1936',
 '25-Sep-1971',
 '05-Feb-2015',
 'Oct-1965',
 '21-Aug-2004',
 'Reported 26-Nov-1885',
 '31-Aug-2014',
 '09-Mar-1961',
 '08-Sep-2004',
 '15-May-1961',
 '09-Dec-2017',
 '25-Oct-1962',
 '13-Apr-1995',
 '21-May-2002',
 '03-Apr-2015',
 '29-Apr-1895',
 'Jul-1959',
 'Reported 03-Jun-1895',
 '25-Feb-2012',
 '05-Jan-1929',
 '27-Jan-2008',
 '11-Aug-2007',
 '02-Jan-1938',
 '24-Jun-1994',
 '10-Jun-2010',
 '04-Oct-1849',
 '10-Jun-1914',
 '21-Sep-1917',
 '08-Mar-1992',
 '15-Jul-1983',
 '24-Jun-2003',
 '20-Oct-2011',
 '1923-1924',
 '14-Jan-1949',
 '14-Oct-1989',
 'Reported 27-Apr-1931',
 '10-May-1948',
 '30-Aug-1965',
 '  28-Jan-1877',
 'Sep-1998',
 '10-Oct-1947',
 '19-Sep-1966',
 'Reported 09-Jan-1958',
 '26-Aug-1979',
 '05-Apr-1962',
 '06-Sep-2008',
 '19-Jul-1922',
 '24-Dec-2016',
 '07-Mar-2008',
 '17-Mar-1993',
 '18-Dec-1967',
 '22-Aug-1921',
 '18-Dec-2006',
 '21-Jun-1903',
 '27-Nov-2003',
 '03-Apr-1961',
 '28-Dec-1965',
 '1900-1905',
 '06-Jun-1989',
 'Aug-1936',
 '12-Aug-1864',
 '25-Aug-2001',
 '25-Aug-1956',
 '31-May-1944',
 '20-Jan-1906',
 '28-Dec-1940',
 '19-Jun-1999',
 '27-Apr-2017',
 'Reported 05-Jul-1906',
 '03-Nov-2015',
 'Dec-1947',
 'Reported 28-Jun-2012',
 '1898.01.24',
 '18-Mar-1986',
 'Ca. 1970',
 'Jan-1936',
 '17-Jan-1909',
 '05-Sep-1985',
 'June 1874',
 'Feb-2007',
 '18-Jul-1981',
 'Late Aug-1962',
 '26-Jul-1974',
 '22-May-2011',
 '14-Aug-1997',
 '30-Jan-1981',
 '30-Dec-1957',
 '31-Mar-1960',
 'No date, Before Aug-1987',
 '5-Jul-1970',
 'Reported 06-Apr-1738',
 '06-Oct-2005',
 '02-Sep-1996',
 '10-Nov-1916',
 '18-Dec-1994',
 '19-Jun-2000',
 '25-Jun-1950',
 '28-Jul-1962',
 '03-Mar-1991',
 '29-Nov-1951',
 '13-Apr-1963',
 '23-Jul-2017',
 '13-Jun-2005',
 '19-Jun-2003',
 '27-Dec-2016',
 '28-Nov-2008',
 '28-Sep-1974',
 '27-Jun-2010',
 'Reported 26-Sep-t937',
 'Reported 01-Nov-1902',
 '03-Sep-1925',
 '15-Jul-2004 ',
 '19-Sep-1982',
 'Ca. 1940',
 '29-Jun-1920',
 '18-Jun-2013',
 '16-Jan-1956',
 '15-Jun-2013',
 '23-Feb-2018',
 '1961',
 '14-May-1882',
 '1845-1853',
 '18-May-1995',
 '02-Mar-1943',
 '15-Aug-1987',
 '14-Jun-2004',
 'Reported 03-Dec-2014',
 '1950',
 '16-Jan-1996',
 '15-Nov-2005',
 '29-Jul-2009',
 '11-Nov-1984',
 'Reported 27-Jan-1925',
 'Reported 07-Sep-1876',
 '31-Aug-2012',
 '05-Apr-1959',
 '08-Apr-2016',
 'Reported 26-Dec-2011',
 '01-Aug-1939',
 ' 25-Aug-2013',
 '27-Jan-1967',
 '10-Mar-1967',
 '27-Feb-1944',
 '24-Jun-1997',
 '24-Nov-2005-',
 '18-Dec-1961',
 '12-Nov-2003',
 '07-Jan-2006',
 '07-Jul-1937',
 'Reported 16-Apr-1994',
 '25-Jul-1936',
 '27-Jan-1969',
 '25-Nov-1950',
 'Late 1960s',
 'Apr-1863',
 '21-Jul-1999',
 '1888',
 '09-Oct-2017',
 '04-Aug-2016',
 'Reported 09-Jan-1970',
 '26-Apr-2007',
 '21-Oct-1997',
 '10-Sep-2017',
 '24-Oct-2016',
 '05-Dec-2010',
 '01-Sep-1974',
 '06-Feb-1856',
 '02-Dec-1923',
 '17-Nov-2000',
 'Reported 21-Jun-1856',
 '1864',
 '25-Jan-1959',
 '13-Aug-1968',
 '08-May-2001',
 '10-Feb-1964',
 '10-Aug-1995',
 '25-Mar-1969',
 '16-Jan-2013',
 '09-Jan-1973',
 '13-Feb-1924',
 'Jul-1984',
 '26-May-2018',
 '22-Jan-1888',
 '27-Aug-2001',
 '16-Aug-1949',
 '06-Dec-1986',
 '15-Jan-1919',
 '21-Jan-1928',
 '01-Jan-1940',
 '28-Aug-2012',
 ' 22-Sep-1879',
 '09-Mar-1967',
 'Reported 15-Dec-1956',
 '06-Apr-1905',
 '20-Apr-2002',
 '10-Feb-2016',
 '02-Jul-2015',
 '19-Dec-1977',
 '21-Jan-1973',
 '02-Mar-1943 to 07-Mar-1943',
 '07-Jul-1914',
 '23-Jul-1992',
 '15-Jan-1955',
 '30-Jan-1954',
 '11-Sep-1942 to 16-Sep-1942',
 '24-May-2018',
 '24-May-1995',
 '02-Oct-1959',
 '19-Dec-1989',
 'Reported 29-Aug-1871',
 '19-Dec-1936',
 '03-Sep-1944',
 '21-Jan-2004',
 '06-Sep-2015',
 '23-Jan-2009',
 '15-Jan-1920',
 '21-Jun-2008',
 '28-Feb-1978',
 '28-Apr-1957',
 'Jan-1998',
 ' 08-Jul-1958',
 '08-Feb-1932',
 '13-Apr-1957',
 '1791',
 'No date, Before Aug-1989',
 '01-Jan-1964',
 'Reported 01-May-1911',
 '30-Dec-1967',
 '18-Oct-1998',
 'Reported 15-Apr-1893',
 'May-17-1803',
 '07-Dec-2007',
 '09-Jun-2001',
 '18-Mar-1923',
 '05-Mar-1995',
 '21-Nov-1874',
 '01-Oct-1998',
 '18-Nov-1928',
 '10-Aug-1974',
 '20-Feb-1940',
 'Reported 03-Sep-1953',
 '01-Jun-2008',
 '28-Jun-1991',
 'Mid Aug-1966',
 '22-Aug-2015',
 '07-Jul-1936',
 '14-Mar-1966',
 '29-Aug-1996',
 '13-Sep-2017',
 '17-Feb-1986',
 '08-Jul-1964',
 '28-Apr-1996',
 '13-Sep-2001',
 '22-Apr-1980',
 'Reported 06-Sep-1961',
 'Apr-1970',
 '10-Aug-1967',
 '28-Jun-1932',
 '02-Sep-2011',
 '23-Mar-2001',
 'Reported 14-Feb-1975',
 '05-Sep-1990',
 'Jun-1951',
 '19-Jan-2005',
 '28-Mar-1960',
 '15-Aug-2011',
 '07-Aug-2002',
 '04-May-2011',
 '23-Feb-2006',
 '30-Sep-1982',
 '30-Jun-2015',
 '18-Jun-1924',
 'Reported 26-Jan-1867',
 '31-May-1992',
 ' 01-Dec-1979',
 '04-Jan-1911',
 '18-Jan-1962',
 'Reported 03-Dec-2010',
 '27-Jan-1958',
 '18-Aug-2008',
 '17-Oct-1980',
 '29-Jun-2011',
 '12-Sep-2009',
 'Reported 15-Jun-1981',
 '12-Oct-1907',
 'Reported 11-Sep-1896',
 '30-Oct-2015',
 '10-Jan-1863',
 '02-Oct-1971',
 'Reported 20-Dec-1998',
 '11-Dec-1894',
 '10-Oct-2013',
 '20-Nov-2000',
 ' 13-Aug-2013',
 '15-Jul-2011',
 '14-Jan-1998',
 '15-Aug-2004',
 '04-Feb-1963',
 '30-Nov-2010',
 '25-Dec-1968',
 '26-Apr-1977',
 '27-Feb-1954',
 '11-Nov-1992',
 '23-Jan-2015',
 '29-Aug-1960',
 'Reported 24-Oct-1888, but took place around 1868',
 '11-Jun-2016',
 '17-Jan-1946',
 'Reported 25-Jul-1905',
 '22-Jun-2012',
 '25-Sep-2012',
 '03-May-1959',
 '23-Oct-1971',
 '26-Dec-1929',
 'Late 1970s',
 '01-Dec-1994',
 '15-Jul-1999',
 '03-Apr-1989',
 '09-Dec-1962',
 '30-Dec-1962',
 'Reported 25-Mar-1892',
 'Sep-2014',
 '21-Oct-2008',
 'No date, Before 1963',
 '10-Sep-1847',
 '04-Sep-2007',
 '23-Nov-1939',
 '09-Jan-2010',
 '21-Jul-1996',
 '13-Dec-2013',
 '09-Apr-2000',
 '19-Mar-1879',
 '11-Dec-2006',
 'Before 2003',
 'Sep-1805',
 '12-May-2017',
 '10-Oct-1993',
 '11-Mar-1847',
 '13-May-2000',
 '05-Nov-1985',
 '25-Mar-1962',
 '24-Apr-2013',
 'May 1979',
 '14-Nov-1958',
 'Reported 04-Nov-1957',
 '31-Dec-2011',
 '5-Jul-1975',
 '27-Feb-2006',
 '22-Oct-1951',
 'Ca . 1825',
 'Mar-1948',
 '25-Apr-1980',
 '18-Feb-1944',
 '10-Jun-2000',
 '12-Jun-2012',
 '1876',
 '16-Feb-1946',
 '14-Jul-1920',
 'Reported 19-Dec-1950',
 '23-Sep-1956',
 '24-Nov-1924',
 '05-Jul-1787',
 '21-Nov-1924',
 '21-Dec-1972',
 'Reported 17-Dec-1896',
 '08-May-1964',
 '13-Feb-1886',
 '12-May-2009',
 '23-Aug-2011',
 'Jun-1993',
 '23-Feb-1998',
 '10-Jul-1905',
 '12-Mar-1887',
 '27-Aug-2014',
 '31-Oct-2013',
 '27-May-2013',
 '05-Dec-1948',
 '18-Feb-1962',
 '26-Jan-2014',
 '08-Aug-1878',
 '24-Feb-1963',
 '06-Jan-1967',
 '24-Aug-2011 ',
 '5-Feb-1970',
 '24-Dec-2005',
 '11-Jan-2006',
 '10-Jan-2009',
 '30-Oct-1990',
 '06-Sep-1969',
 '02-Aug-1997',
 '16-Apr-1961',
 '03-Jul-1927',
 '27-Oct-2003',
 '13-Jan-1915',
 '27-Jul-2008',
 '1999',
 '12-Apr-2009',
 'Dec-1968',
 'Reported 27-Jul-1947',
 '17-Dec-1967',
 '16-Jun-2005',
 'Feb-1981',
 '06-Sep-2016',
 '25-Apr-1996',
 '1980',
 '09-May-2015',
 '07-Feb-1960',
 '20-Jun-1956',
 '16-Dec-2004',
 '23-Oct-1934',
 '25-Nov-1942',
 '11-Nov-1985',
 '28-Jul-2007',
 '26-Feb-1939',
 '15-May-1937',
 '29-Jun-1964',
 'Reported 11-Sep-1936',
 'May-2003',
 '1820s',
 '15-Jul-2000',
 '04-Dec-1943',
 '04-Apr-1928',
 '04-Jun-2005',
 '06-Apr-1952',
 'Reported 15-Dec-1909',
 '03-Apr-1916',
 '27-Sep-1981',
 '25-Mar-1981',
 '25-Nov-1941',
 'Reported 10-May-2014',
 'Reported 25-Feb-1883',
 '10-Mar-1992',
 '22-Jun-2003',
 '16-May-1966',
 '26-May-1974',
 '26-Jul-1916',
 'Before Feb-1998',
 '  02-Jun-1899',
 'Reported 04-Feb-2011',
 'Reported 20-Jun-1892',
 '06-Aug-2009',
 '1853 or 1854',
 '06-Apr-1947',
 'Reported 09-Jul-1863',
 '17-Nov-1980',
 'Jul-1943',
 '26-Jul-2002',
 '02-Sep-2009',
 '23-Jun-2016',
 '28-Dec-1992',
 '26-Aug-1991',
 '06-26-1890',
 '16-Jan-2009',
 '02-Sep-1948',
 '28-Sep-1981',
 '1881',
 '03-May-2015',
 '19-Mar-2002',
 'Reported 01-Jul-1954',
 '11-Aug-1996',
 '23-Mar-1994',
 '10-Jul-1958',
 '31-Jul-2011',
 '22-Feb-1934',
 '31-Mar-2015',
 '22-Jan-1967',
 'Late Jul-1900',
 '29-Dec-1976',
 '23-Jul-1912',
 '02-Apr-2002',
 '26-Aug-1964',
 '23-Jan-1992',
 '08-Sep-2001',
 '11-Jul-1963',
 '09-Jun-1997',
 'Summer 1980',
 '03-Sep-2017',
 '28-Sep-1988',
 '30-May-2010',
 '24-May-2007',
 '  29-Jul-2013',
 '26-Dec-1942',
 '26-Dec-1957',
 '14-Jul-1997',
 'Reported 16-Dec-1908',
 'Jan-1913',
 '05-Oct-1994',
 '03-Dec-1882',
 '27-Jun-1960',
 '05-Feb-1964',
 '26-Feb-1996',
 '25-Aug-1960',
 '2003?',
 '17-Feb-1961',
 '15-Jul-2016',
 '30-Oct-2004',
 '23-Feb-1962',
 'Reported 1637',
 '09-Jul-2006.',
 '30-Jun-1916',
 'Reported 28-Mar-1924',
 'Reported 04-May-1899',
 '19-Oct-1966',
 'Reported 02-Jan-1961',
 'Jun-1954',
 '19-Oct-1981',
 '09-Jul-2002',
 '06-Mar-2009',
 '01-Sep-1967',
 '19-Jun-1992',
 '1910',
 '16-Mar-1859',
 ' 18-Nov-1948',
 '14-Jan-2007',
 'Late May 1993',
 '13-Dec-1929',
 'Reported 09-Oct-1852',
 '13-Apr-2011',
 '24-Mar-1939',
 '18-Aug-1938',
 '12-Sep-2003',
 'Said to be 1941-1945, more likely 1945',
 '02-Jan-1971',
 '19-Apr-2009',
 '07-Jan-2007',
 '13-Sep-2003',
 'Reported 30-Dec-1919',
 'Reported 08-Jun-1942',
 '07-Oct-2001',
 '21-Dec-1929',
 '25-Jul-2001',
 'Ca. 1911',
 '19-Jul-1847',
 'May 1956',
 '01-Apr-1934',
 '20-Sep-1955',
 '29-Jun-1960',
 'Apr-1960',
 '16-Oct-1881',
 '15-Aug-2000',
 '10-Aug-2000',
 '16-Dec-2009',
 ' 07-Apr-1877',
 '18-Oct-2009',
 '03-Jul-1893',
 '29-Aug-1962',
 '01-Sep-2009',
 '13-Feb-1982',
 'Mar-1955',
 '28-Sep-1922',
 '12-Jan-2010',
 '06-Oct-2004',
 '11-Jan-1976',
 '04-Jun-1960',
 '1982',
 '11-Jan-2009',
 '18-Jun-1935',
 'Reported 16-Jul-1911',
 'Reported 10-Sep-1973',
 '15-Feb-1989',
 '13-Feb-2010',
 '25-Nov-1992',
 '19-Aug-1988',
 '05-Jan-2010',
 '25-Apr-2015',
 'Dec-1949',
 '06-Jun-1923',
 '12-Jul-1997',
 '13-Jun-2015',
 'Reported 31-Aug-1962',
 'Jul-1848',
 '4-Feb-1940',
 '19-Sep-1945',
 '20-Jun-2012',
 'Reported 1776',
 '11-Feb-1937',
 'Feb-1947',
 'Reported 02-Apr-2013',
 '22-Sep-1948',
 '12-Mar-1929',
 '13-Sep-1992',
 '1642',
 '20-Jan-1953',
 '19-Dec-1959',
 'Apr-1947',
 '21-Dec-1928',
 'Reported 18-Sep-1840',
 '10-May-2002',
 'Reported 24-Jun-1928',
 '24-Nov-1973',
 '29-Mar-1915',
 '26-Aug-1999',
 '15-Jun-1970',
 '19-Jan-2012',
 '10-Sep-1999',
 '10-Nov-2014',
 '1883-1889',
 '1942',
 '15-Jun-1945',
 '24-Sep-2017',
 '27-Oct-1971',
 '12-Feb-2011',
 '1963',
 '06-Jan-1988',
 'Aug-1871',
 '23-Apr-1895',
 'Reported 16-May-1910',
 'Reported 27-Jan-2009',
 'Before 2016',
 '07-Jul-2009',
 '24-Nov-1910',
 '17-Jul-2005',
 '22-Mar-1993',
 'Sep-1992',
 '15-Aug-1993',
 '24-Aug-1946',
 '12-Oct-1921',
 '19-Sep-2011',
 '27-Jan-1959',
 '28-Jan-1906',
 '12-Sep-1965',
 '27-Dec-1900',
 '14-Dec-2007',
 '18-Aug-2010',
 '14-Apr-2018',
 'Reported 12-Nov-1959',
 '24-Dec-1983',
 'Reported 28-Mar-1928',
 '09-Oct-1994',
 'Apr-1944',
 '10-Apr-2001',
 '16-Apr-2011',
 '29-Jun-1983',
 '22-Feb-2016',
 '25-Mar-2005',
 'Reported 16-Sep-1998',
 '16-Apr-1991',
 '12-Jul-1926',
 '08-Sep-2015',
 'Oct-1927',
 '24-Jun-1961',
 '04-Sep-1954',
 '21-Dec-2011',
 '24-Jun-2011',
 '15-Jun-1975',
 'Nov-1991',
 'Reported 24-Oct-1878',
 '20-Jun-1934',
 '27-Mar-2009',
 'Reported 08-Aug-1907',
 '11-Feb-1984',
 '24-Oct-1970',
 '27-Aug-1967',
 '03-Sep-1981',
 '27-Nov-2010',
 '19-Sep-1976',
 '14-Jul-1862',
 '28-Jul-2016',
 '01-Feb-1975',
 '27-Mar-1860',
 '31-Aug-1977',
 '06-Oct-1976',
 'Reported 28-Oct-2011',
 '16-Mar-1931',
 'Reported 02-Jun-1958',
 '1917',
 '08-Feb-1929',
 '04-May-1988',
 '29-Jan-2016',
 '12-Mar-1993',
 '18-Apr-2016',
 '20-Aug-1961',
 '10-Jun-2001',
 '06-Feb-1967',
 '27-Sep-2007',
 '30-Aug-1912',
 '15-Dec-2014',
 '11-Mar-2017',
 '24-Jul-1909',
 '29-Aug-2001',
 '29-Aug-2010',
 '27-Nov-1913',
 '14-Feb-1964',
 '12-Oct-2014',
 '30-Nov-1984',
 '14-Jan-1947',
 '18-Jun-2014',
 'Reported 09-Apr-1909',
 '19-Jul-2007.b',
 '02-Jan-2016',
 '29-Aug-1992',
 'Late Jul-2008',
 '1968',
 '1886',
 '10-Mar-2015',
 'Late Aug-1905',
 '02-Apr-1978',
 '02-Oct-2001',
 '09-Apr-2005',
 '14-Jul-1939',
 '24-Feb-1991',
 '15-Jan-2011',
 '13-Dec-1961',
 '19-Mar-1967',
 '11-Jul-1988',
 '08-Jan-1976',
 '29-Nov-1929',
 'Jul-1947',
 '11-Mar-1948',
 '24-Mar-1981',
 'Feb-1961',
 '05-May-2006',
 '25-Jul-1880',
 '21-May-1895',
 ' 11-Mar-1877',
 'Some time between 08-Jan-1928 & 21-Jan-1928',
 '08-Jun-2014',
 '20-Dec-2009',
 '01-Feb-1941',
 '02-Feb-1988',
 '28-May-1899',
 '25-Dec-1973',
 '11-Aug--2011',
 '14-Aug-1977',
 '26-Nov-1976',
 '2008.01.30',
 '30-Aug-1931',
 '24-Jan-2016',
 '19-Apr-1983',
 'Oct-1967',
 '13-Apr-2017',
 '27-Sep-2010',
 '16-Sep-1978',
 '26-Jan-1943',
 '28-Mar-1992',
 '10-May-2008',
 '18-Aug-1946',
 '22-Oct-2011',
 '03-Aug-1964',
 '06-Sep-1976',
 '27-Jan-2015',
 '11-Dec-1994',
 'Mar-1959',
 '04-Oct-1939',
 '21-Sep-2002',
 '17-Jun-1999',
 '06-Apr-2009',
 '07-Aug-1984',
 '13-Aug-2000',
 ' 21-Sep-2013',
 '12-Aug-1881',
 '29-Dec-1975',
 '2000',
 'Before 2004',
 '06-Nov-1994',
 'Reported 17-Feb-1877',
 '31-May-2016',
 '18-Apr-1975',
 '03-Jan-1989',
 '11-Mar-1980',
 '5-Apr-1971',
 '1930',
 '26-Sep-1959',
 '02-Jul-1932',
 'Late Jul-1959',
 'May 1982',
 '10-Aug-1932',
 '1974',
 '13-Sep-2002',
 '05-Oct-2015',
 'Reported 14-Apr-1928',
 '11-Nov-2002',
 '27-Jul-2005',
 '07-Apr-1968',
 '19-Jul-2010',
 '03-May-1933',
 '16-Sep-2001',
 '01-Jan-2002',
 '12-Jun-2007',
 '01-Nov-1959',
 '07-Dec-1959',
 '20-Jul-1969',
 '04-Jun-1930',
 '04-Jul-1958',
 '04-Jun-2016',
 '02-Nov-1904',
 'Before 1917',
 '11-Oct-2002',
 'Reported 02-Dec-1926',
 '10-Jun-2012',
 '28-Jul-1954',
 '07-Feb-1962',
 '01-Jun-2014',
 '12-Aug-1975',
 '03-Jun-2018',
 '18-May-2004',
 '21-Sep-1913',
 '05-Sep-1971',
 '10-Oct-1988',
 '25-Jun-2016',
 '09-Oct-2000',
 '05-Sep-2005',
 '31-Mar-1998',
 '08-Feb-2015',
 '28-Jul-1995',
 '26-Jun-2003',
 'Early Jul-1980',
 '09-Oct-1996',
 'Reported 27-Nov-1875',
 '11-Nov-1960',
 '16-Oct-1955',
 'Nov-1947',
 '28-Jan-1886',
 '23-Jan-2004',
 '25-Mar-1988',
 'Reported 04-Sep-1909',
 '1880-1899',
 'Reported May-28-1797',
 '27-Aug-2017',
 '02-Nov-1998',
 '09-Jan-1974',
 '09-Jul-1986',
 '15-Jul-1917',
 '10-Jul-1968',
 'Aug-2000',
 'Reported 21-Dec-1967',
 '01-Jun-2015',
 'Reported 02-Jun-2008',
 '25-Sep-1941',
 '23-Jul-2006',
 '17-Jun-1992',
 '09-May-2012',
 '31-Dec-2003',
 '06-Jan-1992',
 'Reported 09-Apr-2008',
 '27-Jun-2009',
 '07-Jan-2004',
 '12-Aug-2003',
 '08-Mar-1910',
 'Reported 03-Sept-1816',
 '15-Apr-2014',
 '18-Sep-1960',
 'Reported 08-Apr-1935',
 'Reported 06-Sep-1905',
 '29-Apr-1853',
 '28-Aug-2007',
 '24-Dec-1972',
 '12-Apr-1955',
 'Nov-1918',
 '29-Jun-1982',
 '26-Mar-1973',
 '02-Dec-1975',
 '02-Mar-1922',
 '02-Jul-1977',
 '13-Jan-2018',
 '22-Mar-2006',
 '10-Oct-2012',
 '08-Aug-1968',
 'Reported 26-Sep-1922',
 '16-Dec-2002',
 '15-Feb-1953',
 '13-Dec-1970',
 '03-Jul-2010',
 '06-Jan-1961',
 '05-Dec-1909',
 '21-Nov-1993',
 '29-Nov-1920',
 'July 1991',
 '02-Nov-2002',
 '26-Feb-1977',
 '17-Oct-1923',
 '19-Jul-1988',
 '03-Feb-1976',
 '03-Sep-1989',
 '24-Aug-1936',
 '09-Sep-1914',
 '9-Jul-2014',
 'Jul-1837',
 '15-Feb-2010',
 '03-Apr-1960',
 '21-Jun-1978',
 'Before 2006',
 '16-Sep-2011',
 'Reported 24-Jan-1877',
 'Sep-1864',
 'Reported 17-Mar-2009',
 '06-Sep-2012',
 'Jul-1905',
 '16-Jul-1968',
 '27-Mar-1913',
 '12-Mar-2014',
 'Jan-1969',
 '14-Jul-1996',
 '19-Jun-1979',
 '04-Mar-1956',
 'Apr-1966',
 '27-Jul-2015',
 '03-Feb-2018',
 '25-Jul-1983',
 '20-Nov-1899',
 '20-Jul-2002',
 '30-Jun-2003',
 '06-Apr-2017',
 '01-Sep-1937',
 '22-Sep-1962',
 'Reported 02-Jul-1954',
 '2004',
 '02-Mar-2000',
 '1898 (soon after the close of the Spanish-American War)',
 'Reported 28-Jan-1998',
 '17-May-2009',
 '02-Nov-1975',
 '22-May-1905',
 '27-Jun-1954',
 'Aug-1995',
 '04-Apr-1929',
 '14-Jan-1966',
 'Reported 16-Jun-1851',
 '17-Oct-1984',
 '22-May-2002',
 '28-Apr-1988',
 '10-Mar-1968',
 'Reported 31-Dec-1955',
 '05-Jun-1989',
 '07-Feb-2008',
 '08-Nov-1947',
 '25-Jan-2007',
 '24-Feb-2018',
 'Reported 23-Jan-1832',
 '26-Sep-1993',
 '26-Dec-1948',
 '15-Jun-2006',
 '06-Oct-1962',
 'Mar-1961',
 'Aug-1964',
 '25-Jul-1896',
 '14-Jun-2015',
 '30-May-2017',
 '21-Apr-2003',
 '17-Aug-2010',
 '12-Jan-1996',
 '27-Jul-1968',
 '16-Feb-1959',
 '12-Mar-2013',
 '13-Jan-2013',
 '28-Mar-2004',
 '01-Jan-1962',
 '04-Apr-1953',
 '07-Oct-1959',
 '16-Dec-1951',
 'Reported 29-Nov-2005',
 ...}

In [549]:
set(list(tiburon_clean["type"].unique()))

{'Boat',
 'Boating',
 'Boatomg',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked',
 nan}

In [550]:
set(list(tiburon_clean["country"].unique()))

{' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANDAMAN ISLANDS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA?',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON',
 'CEYLON (SRI LANKA)',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COMOROS',
 'COOK ISLANDS',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT ',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEXICO',
 'MEXICO ',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NICARAGUA ',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH ATLANTIC OCEAN ',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PERU',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'RED SEA?',
 'REUNION',
 'REUNION ISLAND',
 'ROATAN',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST HELENA, British overseas territory',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'SWEDEN',
 'SYRIA',
 'Seychelles',
 'Sierra Leone',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TOBAGO',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN ',
 nan}

In [ ]:
tiburon_clean.activity.fillna("unknow",inplace=True)

In [551]:
def regex_activity(x):
    return "".join(re.findall(r'\b(\w+ing)\b',x)).lower()

In [553]:
tiburon_clean["activity_verb"] = tiburon_clean.activity.apply(regex_activity)

In [573]:
set(list(tiburon_clean["activity_verb"].unique()))

{'',
 'abandoningburning',
 'abandoningburningraging',
 'angling',
 'ascending',
 'attaching',
 'attempting',
 'attemptingdrowning',
 'attemptingfishing',
 'attemptingsailing',
 'attemptingswimming',
 'awaiting',
 'bathing',
 'bathingstanding',
 'bathingsurfing',
 'bathingswimming',
 'bathingwashing',
 'bathingwhaling',
 'being',
 'beingfishing',
 'bending',
 'boarding',
 'boardingsurfing',
 'boardingswimming',
 'boardingwading',
 'boating',
 'bodyboarding',
 'bodysurfing',
 'boeing',
 'bringing',
 'burning',
 'canoeing',
 'carrying',
 'casting',
 'catching',
 'chasingbathingriding',
 'checking',
 'chumming',
 'clamming',
 'cleaning',
 'climbing',
 'climbingrepairing',
 'clinging',
 'clingingrowing',
 'collecting',
 'coming',
 'competingfishing',
 'competingrowing',
 'competingspearfishingtowing',
 'competingstanding',
 'conducting',
 'crabbing',
 'crabbingspearing',
 'crawling',
 'crayfishing',
 'crossing',
 'crossingfighting',
 'crossingswimming',
 'crouching',
 'cruising',
 'cutting',
 'dangling',
 'defecating',
 'deserting',
 'dismantling',
 'ditching',
 'diving',
 'divingascending',
 'divingascendingusing',
 'divingattempting',
 'divingattemptingdrowning',
 'divingcarrying',
 'divingcircling',
 'divingcollecting',
 'divingculling',
 'divingdescending',
 'divingdiving',
 'divingfeeding',
 'divingfilming',
 'divingfilmingpulling',
 'divingfishing',
 'divingfloating',
 'divinggathering',
 'divinghunting',
 'divingkissing',
 'divingkneeling',
 'divinglaying',
 'divingmodeling',
 'divingpearling',
 'divingphotographing',
 'divingrecovering',
 'divingrepairing',
 'divingretrieving',
 'divingriding',
 'divingspearfishing',
 'divingspearfishingascending',
 'divingspearfishingdescending',
 'divingspearfishingfloating',
 'divingspearfishingresting',
 'divingstanding',
 'divingsurfacing',
 'divingsurveyingexaming',
 'divingswimming',
 'divingtowing',
 'divingtreading',
 'divingusing',
 'divingusingcalving',
 'divingusingresting',
 'divingwading',
 'divingworking',
 'dragging',
 'drawing',
 'dropping',
 'drowning',
 'during',
 'duringfilming',
 'duringfishingthrowing',
 'dynamiting',
 'escaping',
 'escapingblackbirding',
 'examining',
 'exercising',
 'expecting',
 'feeding',
 'feeling',
 'fighting',
 'filming',
 'filmingcarrying',
 'filmingfeeding',
 'filmingstanding',
 'finning',
 'fishing',
 'fishingbasking',
 'fishingbeingbreaking',
 'fishingcasting',
 'fishingcatching',
 'fishingcleaning',
 'fishingclinging',
 'fishingdiving',
 'fishingfishing',
 'fishinghauling',
 'fishinghaulingfishing',
 'fishingholding',
 'fishinglifting',
 'fishingpicking',
 'fishingremoving',
 'fishingretrieving',
 'fishingseining',
 'fishingsetting',
 'fishingsittingdangling',
 'fishingspearfishing',
 'fishingstanding',
 'fishingstandingwashing',
 'fishingswimming',
 'fishingthrowing',
 'fishingtossing',
 'fishingtrailing',
 'fishingtrawling',
 'fishingtreading',
 'fishingtrolling',
 'fishingtryingfishing',
 'fishingwading',
 'fishingwadingstring',
 'fishingwalking',
 'fishingwashing',
 'fishingwearingdrifting',
 'fishingwhiting',
 'fleeing',
 'floating',
 'floatingdiving',
 'floatingfallingjumping',
 'floatingholding',
 'floatingobserving',
 'floatingstanding',
 'flying',
 'flyingswimming',
 'footing',
 'foundering',
 'freediving',
 'freedivinginspectingblastingdredging',
 'gaffing',
 'gaffingattemptingbring',
 'gathering',
 'gigging',
 'grabbing',
 'guarding',
 'hanging',
 'harassing',
 'harpooning',
 'hauling',
 'helping',
 'hiking',
 'hoistingfishing',
 'holding',
 'holdingdangling',
 'hooking',
 'hunting',
 'inspecting',
 'investigatingsighting',
 'involving',
 'jumping',
 'kakaying',
 'kayaking',
 'kayakingfishing',
 'kayakingreturningspearfishing',
 'kayakingskiing',
 'killing',
 'king',
 'kiteboarding',
 'kitesurfing',
 'kneeling',
 'landing',
 'lashing',
 'launching',
 'leaving',
 'lifesaving',
 'lining',
 'loadingbathing',
 'lobstering',
 'longlingfishing',
 'lying',
 'lyingpaddling',
 'measuring',
 'meshing',
 'missingbailing',
 'morning',
 'moving',
 'movingplacing',
 'murdering',
 'netting',
 'observingfeeding',
 'oystering',
 'paddleboarding',
 'paddleskiing',
 'paddling',
 'paddlingsailing',
 'paddlingstanding',
 'painting',
 'pearling',
 'petting',
 'photographing',
 'photographingusing',
 'picking',
 'playing',
 'playingjumping',
 'playingmissing',
 'playingstanding',
 'preparing',
 'preparingdiving',
 'pulling',
 'pursuing',
 'racing',
 'reaching',
 'reading',
 'removing',
 'rescuing',
 'resting',
 'restraining',
 'retrieving',
 'returning',
 'reviving',
 'riding',
 'rowing',
 'rowingattempting',
 'sailboarding',
 'sailing',
 'salvaging',
 'scooping',
 'sculling',
 'scurfingbeing',
 'searching',
 'seeing',
 'seiningstanding',
 'setting',
 'shelling',
 'shooting',
 'shrimping',
 'sinking',
 'sinkingbeing',
 'sinkingduring',
 'sinkingfishing',
 'sitting',
 'sittingmending',
 'sittting',
 'skiing',
 'skimboarding',
 'skindiving',
 'sleeping',
 'snorkeling',
 'snorkelingcarrying',
 'snorkelingfilming',
 'snorkelingholding',
 'snorkelinghunting',
 'spearfishing',
 'spearfishingcarrying',
 'spearfishingdiving',
 'spearfishingdivingcruising',
 'spearfishingfilming',
 'spearfishingfishing',
 'spearfishingfreediving',
 'spearfishingholding',
 'spearfishinghunting',
 'spearfishingstanding',
 'spearfishingswimming',
 'spearfishingtransferring',
 'spearfishingtreading',
 'spearfishingusing',
 'spearfishingusingtrailingstringbleeding',
 'spearfishingwalkingcarrying',
 'spearing',
 'splashing',
 'splashingwading',
 'stamding',
 'standing',
 'standingbathing',
 'standingcollecting',
 'standingfishing',
 'standinggathering',
 'standinghelpingcontaining',
 'standingholding',
 'standingsnorkeling',
 'standingsurfing',
 'standingwading',
 'standingwashing',
 'standingwatching',
 'stuffing',
 'sunbathingbeing',
 'surfing',
 'surfingboarding',
 'surfingdangling',
 'surfingfilming',
 'surfinglying',
 'surfingpaddling',
 'surfingpushing',
 'surfingsailboarding',
 'surfingsitting',
 'surfingstanding',
 'surfingsurfing',
 'surfingswimming',
 'surfingtreading',
 'surfingwading',
 'swimming',
 'swimmingattemptingdrifting',
 'swimmingattemptingdrowning',
 'swimmingbeing',
 'swimmingboarding',
 'swimmingcanning',
 'swimmingcarrying',
 'swimmingducking',
 'swimmingescaping',
 'swimmingfalling',
 'swimmingfallingsealing',
 'swimmingfeeding',
 'swimmingfishing',
 'swimmingfishingsetting',
 'swimmingfloating',
 'swimmingjumping',
 'swimmingpearling',
 'swimmingpoaching',
 'swimmingrecovering',
 'swimmingsnorkeling',
 'swimmingsplashing',
 'swimmingsurfing',
 'swimmingtowing',
 'swimmingtreading',
 'swimmingusing',
 'swimmingwading',
 'swimmingwashingcooking',
 'swimmingwatching',
 'swimmingwearing',
 'tagging',
 'taking',
 'takingswimming',
 'teasing',
 'testing',
 'testingdiving',
 'thrashingimitating',
 'throwing',
 'touching',
 'towing',
 'trailing',
 'traveling',
 'travellingswimming',
 'treading',
 'treadingawaiting',
 'treadingsurfing',
 'treadingwaiting',
 'trying',
 'wading',
 'wadingcarrying',
 'wadingfishing',
 'wadingfishingcarrying',
 'wadingnetting',
 'wadingpushing',
 'wadingshrimping',
 'wadingsurfing',
 'wadingswimming',
 'waiting',
 'wakeboarding',
 'walking',
 'walkingcarrying',
 'walkingsurfing',
 'washing',
 'washingcooking',
 'watching',
 'watchingfeeding',
 'wearing',
 'wearingusing',
 'windsurfing',
 'windsurfingsitting',
 'windsurfingurinating',
 'working',
 'wrangling',
 'yachting'}

In [572]:
tiburon_clean

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,activity_verb
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,paddling
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,standing
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,surfing
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,surfing
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,diving
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,diving
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,diving
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,swimming
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",unknow,Jules Patterson,M,NaN,FATAL,Y,
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,swimming

In [699]:
def activity_grouping(x):
    if "swimming" in x or "diving" in x or "snorkel" in x or "drown" in x or "float" in x:
        return "swimming"
    elif "surfing" in x or "board" in x or "paddl" in x: 
        return "surfing"
    elif "netting" in x or "fishing" in x or "shell" in x or "oyster" in x or "lobster" in x or "pearl" in x or "spear" in x or "harpoon" in x or "crab" in x or "shrimp" in x:
        return "fishing"
    elif "boat" in x or "kayak" in x or "canoe" in x or "kakay" in x or "sail" in x or "sink" in x or "ski" in x or "row" in x:
        return "vessel related"
    elif "collecting" in x or "washing" in x or "wading" in x or "stand" in x or "knee" in x or "walking" in x or "splash" in x or "bath" in x or "sitting" in x or "tread" in x:
        return "Close to the water"
    else:
        return "unknow"

In [700]:
tiburon_clean["activity_verb2"] = tiburon_clean.activity_verb.apply(activity_grouping)

In [701]:
set(list(tiburon_clean["activity_verb2"].unique()))

{'Close to the water',
 'fishing',
 'surfing',
 'swimming',
 'unknow',
 'vessel related'}

In [702]:
tiburon_clean["activity_verb2"].value_counts()

swimming              1836
unknow                1295
surfing               1288
fishing               1141
Close to the water     594
vessel related         148
Name: activity_verb2, dtype: int64

In [556]:
# Here we changed all the nan to the word we wanted
tiburon_clean.sex.fillna("unknow",inplace=True)

In [557]:
# here we modified one speceific column with the info we want, getting rid of spaces
tiburon_clean.sex = tiburon_clean.sex.str.strip()

In [558]:
# we make a dict with the key an value that we want to change
cleandict = {".":"unknow","lli":"unknow","N":"M"}
tiburon_clean.sex = tiburon_clean.sex.replace(cleandict)

In [559]:
set(list(tiburon_clean["sex"].unique()))

{'F', 'M', 'unknow'}

In [560]:
set(list(tiburon_clean["age"].unique()))

{' ',
 '  ',
 ' 28',
 ' 30',
 ' 43',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '10 or 12',
 '11',
 '12',
 '12 or 13',
 '13',
 '13 or 14',
 '13 or 18',
 '14',
 '15',
 '16',
 '16 to 18',
 '17',
 '17 & 16',
 '17 & 35',
 '18',
 '18 months',
 '18 or 20',
 '18 to 22',
 '19',
 '2 to 3 months',
 '20',
 '20 ',
 '20?',
 '20s',
 '21',
 '21 & ?',
 '21 or 26',
 '21, 34,24 & 35',
 '22',
 '23',
 '23 & 20',
 '23 & 26',
 '24',
 '25',
 '25 or 28',
 '25 to 35',
 '26',
 '27',
 '28',
 '28 & 26',
 '28, 23 & 30',
 '29',
 '2Â½',
 '3',
 '30',
 '30 & 32',
 '30 or 36',
 '30s',
 '31',
 '31 or 33',
 '32',
 '32 & 30',
 '33',
 '33 & 26',
 '33 & 37',
 '33 or 37',
 '34',
 '34 & 19',
 '35',
 '36',
 '36 & 23',
 '36 & 26',
 '37',
 '37, 67, 35, 27,  ? & 27',
 '38',
 '39',
 '40',
 '40s',
 '41',
 '42',
 '43',
 '44',
 '45',
 '45 ',
 '46',
 '46 & 34',
 '47',
 '48',
 '49',
 '5',
 '50',
 '50 & 30',
 '50s',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 "60's",
 '60s',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '6Â½',
 '7',
 '7      &    31',
 '7 or 8',
 '70',
 '71',
 '72',
 '73',
 '74',
 '74 ',
 '75',
 '77',
 '78',
 '8',
 '8 or 10',
 '81',
 '82',
 '84',
 '86',
 '87',
 '9',
 '9 & 12',
 '9 months',
 '9 or 10',
 '>50',
 '?    &   14',
 '? & 19',
 'A.M.',
 'Both 11',
 'Ca. 33',
 'Elderly',
 'F',
 'MAKE LINE GREEN',
 'Teen',
 'Teens',
 'X',
 'adult',
 'mid-20s',
 'mid-30s',
 nan,
 'teen',
 'young',
 '\xa0 '}

In [561]:
tiburon_clean.fatal.fillna("unknow",inplace=True)

In [562]:
tiburon_clean.fatal = tiburon_clean.fatal.str.strip()

In [563]:
dict_fatal = {"2017":"unknow","M":"N","UNKNOWN":"unknow","y":"Y"}
tiburon_clean.fatal = tiburon_clean.fatal.replace(dict_fatal)

In [564]:
set(list(tiburon_clean["fatal"].unique()))

{'N', 'Y', 'unknow'}

In [565]:
tiburon_clean.sample(50)

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,activity_verb
5448,Reported 19-Sep-1907,1907.0,Invalid,ENGLAND,English Channel,NaN,Swimming,J. Wolffe,M,NaN,"""Struck across loins"" but no injury. Accordin...",unknow,swimming
299,10-Mar-2016,2016.0,Unprovoked,Fiji,Vanua Levu,NaN,Diving for beche-de-mer,Maika Tabua,M,45,FATAL,Y,diving
3777,09-Dec-1962,1962.0,Unprovoked,AUSTRALIA,South Australia,Carrickalinga Head,Spearfishing,Geoffrey Martin Corner,M,16,"FATAL, right leg bitten thigh to calf",Y,spearfishing
2559,08-Mar-1992,1992.0,Unprovoked,JAPAN,Ehime Prefecture,Matsuyama,Hookah diving for pen shells,Kazuta Harada,M,41,"FATAL, body not recovered",Y,diving
259,21-Jun-2016,2016.0,Unprovoked,USA,South Carolina,"North Myrtle Beach, Horry County",Floating,Jeff Schott,M,42,Lacerations and punctures to foot,N,floating
1047,31-Jan-2010,2010.0,Unprovoked,BRAZIL,Rio Grande Do Sul,"Atlantis Beach, near Tramandai",Surfing,Andrei Johann,M,29,Foot bitten,N,surfing
1977,Reported 24-Jan-2001,2001.0,Boating,AUSTRALIA,New South Wales,South West Rocks,Kayaking,Mark Elkinton,M,35,"No injury, shark rammed & bit kayak",N,kayaking
3683,02-Jun-1964,1964.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Port Edward,Swimming,Dawood Pili,M,40,"Skeletonized, except for head & feet. Possibly...",unknow,swimming
4931,22-Oct-1934,1934.0,Unprovoked,AUSTRALIA,Torres Strait,Warrior Reefs,Freediving for trochus shell (submerged),"David Younger, Torres Strait Islander",M,NaN,"FATAL, forearm lacerated & surgically amputate...",Y,freediving
1949,04-May-2001,2001.0,Unprovoked,AUSTRALIA,New South Wales,Noraville,Surfing,Michael Valentine,M,33 or 37,"Chest lacerated, surfboard bitten",N,surfing
2084,06-Dec-1999,1999.0,Invalid,BRAZIL,Rio de Janeiro,"Rio de Janeiro, Guanabara Bay",Spearfishing,Frederico NÃ³brega (aka Derico),M,39,Lateral right thigh bitten. Thought to involve...,N,spearfishing
6020,24-May-1852,1852.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban Bay,Swimming from capsized boat,Mr. Messum's servant,M,NaN,FATAL,Y,swimming
1603,25-Mar-2005,2005.0,Unprovoked,VENEZUELA,NaN,Punta Caracas,Surfing,Jokin Leizaola,M,NaN,Right leg bitten,N,surfing
5089,Reported 1929,1929.0,Invalid,AUSTRALIA,New South Wales,Sydney Harbor,Swimming,Eric Johanssen,M,NaN,"Later found to be fiction, never happened",unknow,swimming
3834,15-Feb-1962,1962.0,Unprovoked,AUSTRALIA,Queensland,Between SmithÂs Rock & Moreton Island,Fishing for snappers & cleaning mullet. Put mu...,John Hansen,M,NaN,Middle finger of right hand lacerated,N,fishingcleaning
2563,14-Feb-1992,1992.0,Unprovoked,JAPAN,Ehime Prefecture,Matsuyama,Diving for pen shells,Koji Harada,M,NaN,"No injury, steel diving helmet bitten 3 times",N,diving
3487,Feb-1968,1968.0,Unprovoked,MOZAMBIQUE,NaN,NaN,Diving,Sergio Peres,unknow,24,No injury,N,diving
3006,17-Oct-1981,1981.0,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Surfing,Robert Conklin,M,NaN,No details,unknow,surfing
1411,01-Jan-2007,2007.0,Unprovoked,USA,Hawaii,"Majors Bay, Kaua'i",Surfing,Rich Reed,M,24,"No injury, shark removed piece of surfboard",N,surfing
5379,1912,1912.0,Unprovoked,SPAIN,Balearics,Isla Cabrera,Fell into the water,the governor of Cabrera,M,NaN,FATAL,Y,
6109,15-Apr-1822,1822.0,Unprovoked,NIGERIA,Rivers State,Bonny River,unknow,slaves,unknow,NaN,FATAL,Y,
4437,17-Aug-1951,1951.0,Unprovoked,GREECE,Corfu Island,Off Royal Residence,Swimming,Vanda Pierri,F,16,"FATAL, body not recovered Another man was also...",Y,swimming
4506,Reported 10-Aug-1949,1949.0,Unprovoked,ITALY,Calabria,Cosenza,Swimming,Giovanni Picarelli,M,21,Right hand severed,N,swimming
2227,30-Aug-1997,1997.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chris Hoyas,M,18,Lacerations on right ankle & heel,N,surfing
895,15-Jul-2011,2011.0,Boating,REUNION,Saint-Gilles,Brisants.,Kayaking or Wave skiing,male,M,NaN,No injury,N,kayakingskiing
65,Reported 31-Oct-2017,2017.0,Unprovoked,AUSTRALIA,Queensland,Magnetic Island,Snorkeling,Jack Tolley,M,7,Calf injured,N,snorkeling
2505,Mar-1993,1993.0,Unprovoked,NEW CALEDONIA,South Province,Ãle de Casey,Swimming,Frederic Dolbeau,unknow,NaN,Hip bitten,N,swimming
1807,01-Dec-2002,2002.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,Aylson Gadelha,M,19,FATAL,Y,surfing
3031,10-May-1981,1981.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,KingÂs Beach,Surfing,John Dunser,M,19,"No Injury, board bitten",N,surfing
5407,26-Jan-1910,1910.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle Harbor,unknow,Alfred Victor Clulow,M,NaN,FATAL,Y,
4078,21764,1959.0,Invalid,ITALY,Tuscany,"Cala del Corvo, Isola del Giglio",Scuba diving,Karl Pollerer & Eric Eisesenid,M,34 & 19,Probable drowing. Shark involvement unconfirmed,unknow,diving
5711,Ca. 1890,1890.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Bathing,Zulu boy,M,NaN,"FATAL, leg bitten, foot partly severed",Y,bathing
441,18-Mar-2015,2015.0,Unprovoked,USA,Hawaii,Hapuna Beach,Standing / Snorkeling,Ken Grasing,M,58,Lacerations to left forearm. Lacerations to le...,N,standingsnorkeling
4118,02-Jan-1959,1959.0,Unprovoked,MOZAMBIQUE,Maputo Province,Off Inhaca Island,Swimming ashore from fishing boat swamped and ...,Eric Suttie & Peter Murray,M,33 & 26,"Suttie's lower abdomen was bitten, Murray disa...",Y,swimmingfishing
3838,02-Feb-1962,1962.0,Boat,NEW ZEALAND,North Island,South of New Plymouth,Fishing,"17' fishing launch, occupants: A. Burkitt & C....",unknow,NaN,NaN,unknow,fishing
324,21-Dec-2015,2015.0,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,MÃ¡rcio de Castro Palma,M,32,Right hand & part of forearm removed,N,diving
5357,12-July-1913,1913.0,Unprovoked,USA,South Carolina,Charleston,unknow,soldier,M,NaN,FATAL,Y,
2792,1987,1987.0,Boat,ITALY,Tyrrhenian Sea,"Marciana Marina, Isola d'Elba",Boat,Aniello Mattera and Giorgio Allori,M,NaN,No injury,N,
2729,16-Jun-1988,1988.0,Unprovoked,USA,North Carolina,"Ocracoke, Hyde County",Scuba diving,male,M,42,Survived,N,diving
4556,1948,1948.0,Unprovoked,NEW GUINEA,Morobe Province,Finschafen,"Fishing, holding fish in right hand",male,M,NaN,Right hand bitten,N,fishingholding
1482,05-May-2006,2006.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",unknow,male,M,NaN,Small lacerations to arm,N,
1335,04-Sep-2007,2007.0,Unprovoked,USA,South Carolina,Sullivan's Island,Standing,Rory Corr,M,15,Lacerations to left calf and both feet,N,standing
516,10-Aug-2014,2014.0,Unprovoked,USA,Florida,"Hallandale Beach, Broward County",unknow,male,M,26,Puncture wounds & lacerations to foot,N,
6219,Before Feb-1998,0.0,Unprovoked,SOLOMON ISLANDS,Malaita Province,Waibana Passage,Diving,Albert Raiti,M,NaN,Lacerations to hands and knee,N,diving
2870,30-Nov-1984,1984.0,Unprovoked,AUSTRALIA,Queensland,1 km off Black's Beach,Sailing on catamaran & fell into the water,Nicholas Bos,M,16,FATAL,Y,sailing
2690,09-Mar-1989,1989.0,Unprovoked,AUSTRALIA,South Australia,"Waitpinga Beach, near Victor Harbor, Encounter...",Surfing,Matthew Foale,M,27,Thigh bitten FATAL,Y,surfing
974,28-Oct-2010,2010.0,Unprovoked,USA,Oregon,Florence,Surfing,Seth Mead,M,NaN,No injury to surfer,N,surfing
4642,Sep-1944,1944.0,Unprovoked,CARIBBEAN SEA,NaN,NaN,Fell overboard from US Navy PC boat,a sailor,M,NaN,FATAL,Y,
370,Sep-2015,2015.0,Unprovoked,FIJI,NaN,NaN,Spearfishing,Viliame Lautiki,M,NaN,Leg bitten,N,spearfishing
336,01-Nov-2015,2015.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Wading,Jill Kruse,F,28,Injury to right ankle/calf & hand,N,wading