In [805]:
# We import the libraries that we will use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import re

In [806]:
# We customize what we want to see
%matplotlib inline
%config Inlinebackend.figure_format= 'retina'
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [807]:
# We upload the data set, we call it "tiburon"
tiburon = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")
tiburon

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [808]:
#We get the info of the database to see the Dtype of lements we have. This might come in handy later on
tiburon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [809]:
#we cleant the data by first changing all the columns name special characters and spaces into " _ ", 
# this way we wont have any issue when manipulating columns.
#we first make a list with all the original colums, then we print them to see what we want to clean
#on the secon line of code, we replace them and obtain a dictionary with the old names and new names.
#we check again and see if there is any other special character to be cleaned.
columnas = list(tiburon.columns)
print(columnas)
tiburon_two = {columna: columna.replace(" ", "_").replace(".", "_").replace(":", "").lower() for columna in columnas}
print(tiburon_two)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']
{'Case Number': 'case_number', 'Date': 'date', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area', 'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex_', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatal_(y/n)', 'Time': 'time', 'Species ': 'species_', 'Investigator or Source': 'investigator_or_source', 'pdf': 'pdf', 'href formula': 'href_formula', 'href': 'href', 'Case Number.1': 'case_number_1', 'Case Number.2': 'case_number_2', 'original order': 'original_order', 'Unnamed: 22': 'unnamed_22', 'Unnamed: 23': 'unnamed_23'}

In [810]:
# in this step we check the columns one by one to see that they are all understandable. 
#we can see that columns like "sex_" have an extra character that must be cleaned. This will be done manually
#It can also be done with Regex, but since its just a few, is faster manually
tiburon_two["Sex "] = "sex"
tiburon_two["Fatal (Y/N)"] = "fatal"
tiburon_two["Species "] = "species"

In [811]:
#we rename all columns from the dictionary tiburon_two into our dataset, calling it tiburon_renamed.
#we print the head to see that all columns have the correct number.
tiburon_renamed = tiburon.rename(columns=tiburon_two)
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [812]:
# we drop all duplicated rows, since we dont need duplicated data.
tiburon_renamed.drop_duplicates(inplace=True)

In [813]:
#We check the new shape
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [814]:
#Here we can sum all the nans inside the columns
tiburon_renamed.isna().sum()

case_number                  2
date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal                      549
time                      3364
species                   2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
case_number_1               10
case_number_2               10
original_order               3
unnamed_22                6311
unnamed_23                6310
dtype: int64

In [815]:
#as we can see, unnamed 22 and 23 have 99% of the elements as NaN, so we can drop them
tiburon_renamed.drop(["unnamed_22", "unnamed_23"],axis=1,inplace=True)

In [816]:
tiburon_renamed

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [817]:
# I want to eliminate columns that are the same, mainly because they are useless and take extra space and proccesing time
# This step could had been done before changing the variable names, but I prefer it in this order. 
# All comparison follow the same structure: Check the shape of the dataframe (6312 rows) 
# and see if we get the same amount of rows betwen two columns

In [818]:
# This is a bit confusing but here it goes:
# 1) After seeing the data head i realized that Date and Case_numbers are all dates that looks the same.
# 2) What I did was to check which rows does case_number and cas_number_2 are not the same, and we got 14 rows
# 3) I displayed them next to date, case_number, case_number_1 and case_number_2 and see if those 14 rows are also dates and similar.
# 4) The conclusion is that all case_number are the same as date and should be drop
tiburon_renamed[["date","case_number","case_number_1","case_number_2"]][(tiburon_renamed["case_number"])!=(tiburon_renamed["case_number_2"])].sample(14)

                       date   case_number case_number_1 case_number_2
8702                    NaN           NaN           NaN           NaN
25722                   NaN            xx           NaN           NaN
6303                    NaN             0           NaN           NaN
6305                    NaN             0           NaN           NaN
6309                    NaN             0           NaN           NaN
6304                    NaN             0           NaN           NaN
6306                    NaN             0           NaN           NaN
5488   Reported 06-Sep-1905           NaN  1905.09.06.R  1905.09.06.R
6307                    NaN             0           NaN           NaN
6302                    NaN             0           NaN           NaN
5944               May-1864       1864.05    1864.05.00    1864.05.00
6308                    NaN             0           NaN           NaN
4949   Reported 08-Feb-1934  1934.01.08.R  1934.02.08.R  1934.02.08.R
390             10-Jul-2015    2015.07-10    2015.07.10    2015.07.10

In [819]:
# Since they al reflect date, we will erase all the case_number columns and leave only the date column
tiburon_renamed.drop(["case_number","case_number_1","case_number_2"],axis=1,inplace=True)

In [820]:
tiburon_renamed

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,original_order
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [821]:
# I do this in order to see a cleaner dataframe
tiburon_renamed.sample(50)

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,original_order
169,18-Mar-2017,2017.0,Boating,USA,California,Monterey Bay,Kayaking,Brian Correira,M,NaN,"No injury, kayak bitten",N,14h30,White shark,"R. Collier, GSAF",2017.03.18-Correira.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6134.0
2691,04-Mar-1989,1989.0,Boating,AUSTRALIA,Western Australia,Near Broome in Roebuck Bay,Kayaking,Kim Courtenay,M,NaN,"No injury, but the kayak was bitten by the shark",N,NaN,"Tiger shark, 3.5 m","K. Courtenay; T. Peake, GSAF",1989.03.04-Courtenay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3612.0
5673,Reported 18-Jan-1893,1893.0,Unprovoked,FRENCH POLYNESIA,NaN,One week out of PÃ¡pete,Murdered,sailor,M,NaN,FATAL.Tossed overboard to sharks by Rodrigue b...,Y,NaN,NaN,"West Australian, 1/18/1893",1893.01.18.R-RodrigueBrothersVictims.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,630.0
1757,05-Jul-2003,2003.0,Provoked,USA,Florida,"Near New Smyrna Jetty, Volusia County","Walking, carrying surfboard & stepped on shark",P.L.,M,10,3 puncture wounds on right lateral ankle PROVO...,N,10h07,2' shark,"S. Petersohn, GSAF",2003.07.05.b-PL.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4546.0
3030,16-May-1981,1981.0,Unprovoked,USA,Florida,"Jacksonville, Duval County",Diving,Carey Ford,M,NaN,Left arm bitten,N,NaN,Lemon shark,"E. Pace, FSAF",1981.05.16-NV-Ford.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3273.0
3166,27-Oct-1976,1976.0,Boat,SOUTH AFRICA,Western Cape Province,GordonÂs Bay,Boat,"7 m skiboat Alrehmah III, occupants: Adolph Sc...",NaN,NaN,"No injury to occupants, shark leapt on bow of ...",N,NaN,White shark,"T. Wallett, p.32",1976.10.27-AlremahII.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3137.0
5363,1913,1913.0,Unprovoked,REUNION,Saint-Denis,Barachoise bridge,Swimming after his hat,male,M,NaN,FATAL,Y,NaN,NaN,H. Cornu,1913.00.00.d-ReunionIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,940.0
5945,09-Apr-1864,1864.0,Unprovoked,CHINA,NaN,Macao Harbor,Swimming,males,M,NaN,No injury,NaN,NaN,NaN,"C. Moore, GSAF",1864.04.09-Macao.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,358.0
97,27-Aug-2017,2017.0,Unprovoked,USA,Florida,Bathtub Beach,Wading,Violet Veatch,F,3,Leg injured,N,13h19,NaN,"Sun Sentinel, 8/27/2017",2017.08.27-Veatch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6206.0
2646,05-Feb-1990,1990.0,Unprovoked,USA,Florida,"Monster Hole, Sebastian Inlet, Indian River Co...",Board sailing,Bruce Ferguson,M,33,Foot bitten,N,NaN,NaN,"Orlando Sentinel, Feb 9, 1990. pg. B.3",1990.02.05-Ferguson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3657.0
449,08-Feb-2015,2015.0,Unprovoked,AUSTRALIA,New South Wales,"Seven Mile Beach, Byron Bay",Surfing,Jacob Reitman,M,35,Laceration & puncture wounds to right flank & hip,N,06h45,2 m to 3 m shark,"The Telegraph, 2/8/2015",2015.02.08-Reitman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5854.0
2093,30-Oct-1999,1999.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Body boarding,Keven Dolsky,M,45,Right foot lacerated,N,17h30,NaN,"S. Petersohn, GSAF",1999.10.30.b-Dolsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4210.0
1027,18-May-2010,2010.0,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,Swimming,Nguyen Thi Tanh,F,60,Severe lacerations to left foot,N,18h00,20 to 30kg shark,"Thanh Nien, 5/21/2010",2010.05.18.b-Thanh.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5276.0
5353,03-Sep-1913,1913.0,Provoked,CROATIA,Istria County,Pula,NaN,Fishing,M,NaN,Badly bitten by a shark dragged onboard PROVOK...,N,NaN,2 m shark,"C.Moore, GSAF",1913.09.03-Croatia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,950.0
424,15-May-2015,2015.0,Unprovoked,USA,South Carolina,Sullivan's Island,NaN,male,M,30,Laceration to foot,N,14h15,6' shark,"News 2, 5/15/2015",2015.05.15-Sullivans.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5879.0
786,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5517.0
4485,1950,1950.0,Boating,AUSTRALIA,Tasmania,Triabunna,Sitting on side of dinghy mending a net,Neil Drake,M,NaN,"No injury to occupant, shark bit side of dinghy",N,NaN,"White shark, 3.6 m, 420 kg male","C. Black, GSAF",1950.00.00.m-Drake-dinghy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1818.0
2568,08-Jan-1992,1992.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Sheffield Beach,Spearfishing,Daniel Van Huysteen,M,36,Left cheek lacerated,N,17h15,Possibly a 1.5 m [5'] blacktip shark,"A. Gifford, GSAF",1992.01.08-vanHuysteen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3735.0
405,Reported 25-Jun-2015,2015.0,Provoked,AUSTRALIA,Western Australia,Rottnest Island,Swimming,Stephen,M,19,Minor lacerations to forearm when he grabbed s...,N,NaN,Wobbegong shark,"West Australian Police, 6/25/2015",2015.06.25.R-Stephen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5898.0
4574,Jul-1947,1947.0,Invalid,GREECE,Carpathian Sea,Dodecanese Islands,Jumped overboard,Nickolas Doulis,M,NaN,Shark involvement unconfirmed,NaN,NaN,Questionable,"C. Moore, GSAF",1947.07.07-Doulis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1729.0
3445,29-Dec-1968,1968.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Port St. John's,Freediving,John Domoney,M,NaN,No injury,NaN,NaN,Questionable incident,H.D.Baldridge (1994) SAF Case #1588. Note: Una...,1968.12.29-NV-Domoney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2858.0
5681,Reported 19-May-1892,1892.0,Unprovoked,NEW ZEALAND,North Island,Rockhampton,Bathing,Abraham Yates,M,NaN,Minor injury to leg,N,NaN,NaN,"Wanganui Chronicle, 5/19/1892",1892.05.19.R-Yates.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,622.0
5733,22-Jan-1888,1888.0,Boating,AUSTRALIA,New South Wales,Sydney Harbor,Rowing,Burke,M,NaN,"Shark bit boat, but no injury to occupant who ...",N,NaN,NaN,"Star, 1/23/1888",1888.01.22-Burke.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,569.0
3885,02-Aug-1961,1961.0,Unprovoked,USA,Hawaii,"Pearl Harbor Channel, O'ahu","Net fishing, picking catch from the net",Kazuhiho Kato,M,38,Hand bitten,N,17h30,2.4 m [8'] shark,"K. Kato; V.M. Coppleson (1962), p.246",1961.08.02-Kato.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2418.0
6060,1844,1844.0,Unprovoked,MADAGASCAR,NaN,NaN,Fell overboard,Mr. Andrews,M,NaN,FATAL,Y,NaN,NaN,GSAF,1844.00.00-Andrews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,243.0
5650,Reported 12-Sep-1894,1894.0,Unprovoked,USA,Virginia,Norfolk,Bathing,Michael Daly,M,NaN,Lacerations to leg,N,NaN,NaN,"Washington Post, 9/13/1894",1894.09.12.R-Daly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,653.0
4350,15-Jan-1954,1954.0,Unprovoked,PAPUA NEW GUINEA,Madang Province,"Singour, 60 miles south of Madang",Crouching in the water,Ramlen,M,26,Back & thighs lacerated,N,Late afternoon,14' shark,"Cairns Post, 1/21/1954",1954.01.15-Ramlen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1953.0
1952,28-Apr-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,male,M,14,4 small lacerations on lower right leg,N,15h49,NaN,"S. Petersohn, GSAF",2001.04.28-NV-NewSmyrnaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4351.0
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
4937,05-Aug-1934,1934.0,Unprovoked,USA,Georgia,"Thunderbolt, Chatham County",Swimming,"William Aimar, Jr.",M,11,Lacerations to right leg,N,NaN,NaN,"Cullman Democrat, 8.9/1934",1934.08.05-Aimar.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1366.0
3542,27-Dec-1966,1966.0,Unprovoked,AUSTRALIA,New South Wales,Trial Bay,Spearfishing,Lyle Fielding,M,19,Right hand lacerated,N,NaN,"Grey nurse shark, 1.5 m [5']","Sun (Sydney), 12/29/1966; J. Green, p.36",1966.12.27.a-Fielding.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2761.0
5413,14-Nov-1909 to 19-Nov-1909,1909.0,Sea Disaster,INDONESIA,30 nm from Singapore,Rhio Strait,The 2379-ton French steamer La Seyne collied w...,NaN,NaN,NaN,"FATAL, 101 people perished, including commande...",Y,NaN,NaN,"The Sun, 7/13/1913",1909.11.14-LaSeyne.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,890.0
6136,10-May-1788,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,"No injury to occupants, shark bit oar and rudder",N,NaN,NaN,"G.P. Whitley citing J. Cobley, Sydney Cove, p....",1788.05.10-Sydney,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,167.0
5779,14-Jan-1884,1884.0,Unprovoked,AUSTRALIA,South Australia,"Port Pirie, Spencer Gulf, 230 km north of Adel...",Fell overboard,Miss Warren,F,NaN,FATAL,Y,NaN,Said to involve 2 sharks,"G.P. Whitley (1951), p. 192, citing the Regist...",1884.01.14-Warren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,524.0
6263,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,a local dignitary,M,NaN,"FATAL, femoral artery severed, died 12 days la...",Y,NaN,NaN,Lt. Col. R.S. Hunt of the Royal Army Medical Corp,ND-0040-Local dignitary.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,40.0
4903,01-Jul-1935,1935.0,Unprovoked,CROATIA,Adriatic Sea,"Susak / Fiume (Rijeka, Istria)",Swimming,Mira Kudlich,F,22,FATAL,Y,15h00,NaN,"C. Moore, GSAF",1935.07.01-Kudlich.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1400.0
4104,08-Mar-1959,1959.0,Unprovoked,PHILIPPINES,Mindanao,"Mouth of Langoyan River, Davao City",Lifeboat capsized,"Leopoldo Sanchez, a messboy from the ship MV M...",M,20,"FATAL, body not recovered",Y,NaN,NaN,"Manila Chronicle, 3/10/1959; P. Gilbert, L. Sc...",1959.03.08-Sanchez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2199.0
1712,13-Dec-2003,2003.0,Unprovoked,USA,Florida,"Melbourne Beach, Brevard County",Swimming,male,M,13,Foot bitten,N,13h15,NaN,"Florida Today (Melbourne), 12/14/2003",2003.12.13.b-boy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4591.0
2956,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,Left leg bitten,N,NaN,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3347.0
2352,25-Aug-1995,1995.0,Unprovoked,USA,North Carolina,"Off Masonboro Island, New Hanover County",Swimming,Michael Greenwood,M,16,Left arm bitten,N,"""Night""",1.2 m to 1.5 m [4' to 5'] shark,"Charlotte Observer, 8/27/1995, p.2B",1995.08.25-Greenwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3951.0
2404,1995,1995.0,Unprovoked,USA,South Carolina,"Pawleys Island, Georgetown County",NaN,male,M,NaN,No details,UNKNOWN,NaN,NaN,"C. Creswell, GSAF; ISAF 2793",1995.00.00.b-NV-PawleysIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3899.0
460,06-Jan-2015,2015.0,Unprovoked,BAHAMAS,Abaco Islands,"Tahiti Beach, Elbow Cay",Snorkeling,Lacy Webb,F,34,Severe bite to right flank,N,16h00,White shark or oceanic whitetip shark,"Britt Martin; Local10, 1/7/2015",2015.01.06-Webb-Martin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5843.0
4293,07-Jul-1955,1955.0,Unprovoked,YEMEN,Aden,Telegraph Bay,Swimming,Mrs. W. F. Dixon,F,NaN,"FATAL, back lacerated, arm & leg severed",Y,NaN,2.4 m [8'] shark,"Evening Sun (Baltimore), 9/27/1955; V.M. Coppl...",1955.07.07-Dixon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.0
4805,1939,1939.0,Unprovoked,CURACAO,Ascension Bay,NaN,Diving,Hans Hass,M,NaN,"No injury, left hip bumped by shark",N,NaN,Tiger shark,"H. Hass in Diving To Adventure, p.169",1939.00.00.b-Hass.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1498.0
3278,13-Jan-1974,1974.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Sitting,James Viljoen,M,42,2 minor lacerations in foot,N,NaN,"Raggedtooth shark, 1 m","Daily News (Durban), 1/29/1974; GSAF",1974.01.13-Viljoen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3025.0
2727,Jul-1988,1988.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,Peter Albury,M,NaN,Lacerations to arm,N,NaN,NaN,"E. Pace, GSAF",1988.07.00-Albury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3576.0
4403,05-Aug-1952,1952.0,Provoked,ITALY,Teramo,Giulianova,Fishing,Vittorio Speca,NaN,19,Multiple injuries PROVOKED INCIDENT,Y,02h00,2m shark,"C. Moore, GSAF",1952.08.05-Speca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.0
3119,19-Jul-1978,1978.0,Provoked,USA,California,"Newport Beach, Orange County",Fishing,Harry Griffet,M,27,Laceration to leg by hooked shark PROVOKED IN...,N,NaN,NaN,"Fresno Bee, 7/19/1978",1978.07.19-Griffet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3184.0
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3346,1972,1972.0,Unprovoked,MARSHALL ISLANDS,Illeginni Atoll,NaN,"Free diving, collecting shells",Alan Titchenal,M,NaN,Right hand & torso lacerated,N,NaN,1.8 m [6'] grey reef shark,"G. Ambrose, pp.78-86",1972.00.00.a-Titchenal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2957.0

In [822]:
#here i count the amount of NaN that i have in each column
tiburon_renamed.isna().sum()

date                        10
year                        12
type                        14
country                     60
area                       465
location                   550
activity                   554
name                       220
sex                        575
age                       2841
injury                      38
fatal                      549
time                      3364
species                   2848
investigator_or_source      27
pdf                         10
href_formula                11
href                        10
original_order               3
dtype: int64

In [823]:
#I decided to drop all the columns that i wont use in my hypothesis
tiburon_clean = tiburon_renamed.drop(["species","time","original_order","href","href_formula","pdf","investigator_or_source"],axis=1)

In [824]:
#By making these lines of code, I can erase all the columns and rows where all values are NaN
tiburon_clean.dropna(axis=0, how='all',inplace=True)
tiburon_clean.dropna(axis=1, how='all',inplace=True)

In [825]:
#In this loop i can check the unique values of each column
# I then print al lvalues and see which function il lcreate to clean further
for i in tiburon_clean.keys():
    
    print(i, len(list(tiburon_clean[i].unique())))

date 5433
year 250
type 9
country 213
area 826
location 4109
activity 1533
name 5231
sex 7
age 158
injury 3738
fatal 9

In [826]:
set(list(tiburon_clean["date"].unique()))

{'Reported 11-Sep-1994',
 '31-Jul-2017',
 '12-July-1913',
 '12-Aug-1991',
 '29-Apr-2015',
 '28-Sep-1985',
 '07-Apr-1926',
 '24-Jan-2009',
 '1896',
 ' 04-Sep-2010',
 '27-Dec-1948',
 '17-Sep-1976',
 '08-Dec-1963',
 'Oct-1953',
 '27-Jan-1964',
 '20-Sep-1964',
 '27-Sep-2002',
 '01-Oct-2010',
 '30-Jun-2011',
 '05-Jan-2013',
 '05-Dec-2011',
 '20-Dec-2002',
 '26-Jun-1936',
 '1912',
 '29-Sep-2006',
 '26-Jan-1910',
 '05-Apr-2004',
 '09-Mar-1937',
 '23-Jan-1965',
 '09-Oct-2015',
 '04-Sep-2015',
 '08-Jun-1998',
 '24-May-1844',
 'Jan-1985',
 '04-Jul-2016',
 '26-Aug-1962',
 '16-Jul-2014',
 '26-Apr-1998',
 '08-Jul-2006',
 '31-Dec-1972',
 '18-May-2001',
 'Reported 22-Apr-1830',
 '13-Jan-2012',
 '19-Dec-1981',
 '14-Dec-1999',
 '09-Jun-1965',
 '02-Sep-1974',
 '07-Feb-2009',
 '13-Mar-1975',
 '19-Mar-1936',
 '25-Sep-1971',
 '05-Feb-2015',
 'Oct-1965',
 '21-Aug-2004',
 'Reported 26-Nov-1885',
 '31-Aug-2014',
 '09-Mar-1961',
 '08-Sep-2004',
 '15-May-1961',
 '09-Dec-2017',
 '25-Oct-1962',
 '13-Apr-1995',
 '21-May-2002',
 '03-Apr-2015',
 '29-Apr-1895',
 'Jul-1959',
 'Reported 03-Jun-1895',
 '25-Feb-2012',
 '05-Jan-1929',
 '27-Jan-2008',
 '11-Aug-2007',
 '02-Jan-1938',
 '24-Jun-1994',
 '10-Jun-2010',
 '04-Oct-1849',
 '10-Jun-1914',
 '21-Sep-1917',
 '08-Mar-1992',
 '15-Jul-1983',
 '24-Jun-2003',
 '20-Oct-2011',
 '1923-1924',
 '14-Jan-1949',
 '14-Oct-1989',
 'Reported 27-Apr-1931',
 '10-May-1948',
 '30-Aug-1965',
 '  28-Jan-1877',
 'Sep-1998',
 '10-Oct-1947',
 '19-Sep-1966',
 'Reported 09-Jan-1958',
 '26-Aug-1979',
 '05-Apr-1962',
 '06-Sep-2008',
 '19-Jul-1922',
 '24-Dec-2016',
 '07-Mar-2008',
 '17-Mar-1993',
 '18-Dec-1967',
 '22-Aug-1921',
 '18-Dec-2006',
 '21-Jun-1903',
 '27-Nov-2003',
 '03-Apr-1961',
 '28-Dec-1965',
 '1900-1905',
 '06-Jun-1989',
 'Aug-1936',
 '12-Aug-1864',
 '25-Aug-2001',
 '25-Aug-1956',
 '31-May-1944',
 '20-Jan-1906',
 '28-Dec-1940',
 '19-Jun-1999',
 '27-Apr-2017',
 'Reported 05-Jul-1906',
 '03-Nov-2015',
 'Dec-1947',
 'Reported 28-Jun-2012',
 '1898.01.24',
 '18-Mar-1986',
 'Ca. 1970',
 'Jan-1936',
 '17-Jan-1909',
 '05-Sep-1985',
 'June 1874',
 'Feb-2007',
 '18-Jul-1981',
 'Late Aug-1962',
 '26-Jul-1974',
 '22-May-2011',
 '14-Aug-1997',
 '30-Jan-1981',
 '30-Dec-1957',
 '31-Mar-1960',
 'No date, Before Aug-1987',
 '5-Jul-1970',
 'Reported 06-Apr-1738',
 '06-Oct-2005',
 '02-Sep-1996',
 '10-Nov-1916',
 '18-Dec-1994',
 '19-Jun-2000',
 '25-Jun-1950',
 '28-Jul-1962',
 '03-Mar-1991',
 '29-Nov-1951',
 '13-Apr-1963',
 '23-Jul-2017',
 '13-Jun-2005',
 '19-Jun-2003',
 '27-Dec-2016',
 '28-Nov-2008',
 '28-Sep-1974',
 '27-Jun-2010',
 'Reported 26-Sep-t937',
 'Reported 01-Nov-1902',
 '03-Sep-1925',
 '15-Jul-2004 ',
 '19-Sep-1982',
 'Ca. 1940',
 '29-Jun-1920',
 '18-Jun-2013',
 '16-Jan-1956',
 '15-Jun-2013',
 '23-Feb-2018',
 '1961',
 '14-May-1882',
 '1845-1853',
 '18-May-1995',
 '02-Mar-1943',
 '15-Aug-1987',
 '14-Jun-2004',
 'Reported 03-Dec-2014',
 '1950',
 '16-Jan-1996',
 '15-Nov-2005',
 '29-Jul-2009',
 '11-Nov-1984',
 'Reported 27-Jan-1925',
 'Reported 07-Sep-1876',
 '31-Aug-2012',
 '05-Apr-1959',
 '08-Apr-2016',
 'Reported 26-Dec-2011',
 '01-Aug-1939',
 ' 25-Aug-2013',
 '27-Jan-1967',
 '10-Mar-1967',
 '27-Feb-1944',
 '24-Jun-1997',
 '24-Nov-2005-',
 '18-Dec-1961',
 '12-Nov-2003',
 '07-Jan-2006',
 '07-Jul-1937',
 'Reported 16-Apr-1994',
 '25-Jul-1936',
 '27-Jan-1969',
 '25-Nov-1950',
 'Late 1960s',
 'Apr-1863',
 '21-Jul-1999',
 '1888',
 '09-Oct-2017',
 '04-Aug-2016',
 'Reported 09-Jan-1970',
 '26-Apr-2007',
 '21-Oct-1997',
 '10-Sep-2017',
 '24-Oct-2016',
 '05-Dec-2010',
 '01-Sep-1974',
 '06-Feb-1856',
 '02-Dec-1923',
 '17-Nov-2000',
 'Reported 21-Jun-1856',
 '1864',
 '25-Jan-1959',
 '13-Aug-1968',
 '08-May-2001',
 '10-Feb-1964',
 '10-Aug-1995',
 '25-Mar-1969',
 '16-Jan-2013',
 '09-Jan-1973',
 '13-Feb-1924',
 'Jul-1984',
 '26-May-2018',
 '22-Jan-1888',
 '27-Aug-2001',
 '16-Aug-1949',
 '06-Dec-1986',
 '15-Jan-1919',
 '21-Jan-1928',
 '01-Jan-1940',
 '28-Aug-2012',
 ' 22-Sep-1879',
 '09-Mar-1967',
 'Reported 15-Dec-1956',
 '06-Apr-1905',
 '20-Apr-2002',
 '10-Feb-2016',
 '02-Jul-2015',
 '19-Dec-1977',
 '21-Jan-1973',
 '02-Mar-1943 to 07-Mar-1943',
 '07-Jul-1914',
 '23-Jul-1992',
 '15-Jan-1955',
 '30-Jan-1954',
 '11-Sep-1942 to 16-Sep-1942',
 '24-May-2018',
 '24-May-1995',
 '02-Oct-1959',
 '19-Dec-1989',
 'Reported 29-Aug-1871',
 '19-Dec-1936',
 '03-Sep-1944',
 '21-Jan-2004',
 '06-Sep-2015',
 '23-Jan-2009',
 '15-Jan-1920',
 '21-Jun-2008',
 '28-Feb-1978',
 '28-Apr-1957',
 'Jan-1998',
 ' 08-Jul-1958',
 '08-Feb-1932',
 '13-Apr-1957',
 '1791',
 'No date, Before Aug-1989',
 '01-Jan-1964',
 'Reported 01-May-1911',
 '30-Dec-1967',
 '18-Oct-1998',
 'Reported 15-Apr-1893',
 'May-17-1803',
 '07-Dec-2007',
 '09-Jun-2001',
 '18-Mar-1923',
 '05-Mar-1995',
 '21-Nov-1874',
 '01-Oct-1998',
 '18-Nov-1928',
 '10-Aug-1974',
 '20-Feb-1940',
 'Reported 03-Sep-1953',
 '01-Jun-2008',
 '28-Jun-1991',
 'Mid Aug-1966',
 '22-Aug-2015',
 '07-Jul-1936',
 '14-Mar-1966',
 '29-Aug-1996',
 '13-Sep-2017',
 '17-Feb-1986',
 '08-Jul-1964',
 '28-Apr-1996',
 '13-Sep-2001',
 '22-Apr-1980',
 'Reported 06-Sep-1961',
 'Apr-1970',
 '10-Aug-1967',
 '28-Jun-1932',
 '02-Sep-2011',
 '23-Mar-2001',
 'Reported 14-Feb-1975',
 '05-Sep-1990',
 'Jun-1951',
 '19-Jan-2005',
 '28-Mar-1960',
 '15-Aug-2011',
 '07-Aug-2002',
 '04-May-2011',
 '23-Feb-2006',
 '30-Sep-1982',
 '30-Jun-2015',
 '18-Jun-1924',
 'Reported 26-Jan-1867',
 '31-May-1992',
 ' 01-Dec-1979',
 '04-Jan-1911',
 '18-Jan-1962',
 'Reported 03-Dec-2010',
 '27-Jan-1958',
 '18-Aug-2008',
 '17-Oct-1980',
 '29-Jun-2011',
 '12-Sep-2009',
 'Reported 15-Jun-1981',
 '12-Oct-1907',
 'Reported 11-Sep-1896',
 '30-Oct-2015',
 '10-Jan-1863',
 '02-Oct-1971',
 'Reported 20-Dec-1998',
 '11-Dec-1894',
 '10-Oct-2013',
 '20-Nov-2000',
 ' 13-Aug-2013',
 '15-Jul-2011',
 '14-Jan-1998',
 '15-Aug-2004',
 '04-Feb-1963',
 '30-Nov-2010',
 '25-Dec-1968',
 '26-Apr-1977',
 '27-Feb-1954',
 '11-Nov-1992',
 '23-Jan-2015',
 '29-Aug-1960',
 'Reported 24-Oct-1888, but took place around 1868',
 '11-Jun-2016',
 '17-Jan-1946',
 'Reported 25-Jul-1905',
 '22-Jun-2012',
 '25-Sep-2012',
 '03-May-1959',
 '23-Oct-1971',
 '26-Dec-1929',
 'Late 1970s',
 '01-Dec-1994',
 '15-Jul-1999',
 '03-Apr-1989',
 '09-Dec-1962',
 '30-Dec-1962',
 'Reported 25-Mar-1892',
 'Sep-2014',
 '21-Oct-2008',
 'No date, Before 1963',
 '10-Sep-1847',
 '04-Sep-2007',
 '23-Nov-1939',
 '09-Jan-2010',
 '21-Jul-1996',
 '13-Dec-2013',
 '09-Apr-2000',
 '19-Mar-1879',
 '11-Dec-2006',
 'Before 2003',
 'Sep-1805',
 '12-May-2017',
 '10-Oct-1993',
 '11-Mar-1847',
 '13-May-2000',
 '05-Nov-1985',
 '25-Mar-1962',
 '24-Apr-2013',
 'May 1979',
 '14-Nov-1958',
 'Reported 04-Nov-1957',
 '31-Dec-2011',
 '5-Jul-1975',
 '27-Feb-2006',
 '22-Oct-1951',
 'Ca . 1825',
 'Mar-1948',
 '25-Apr-1980',
 '18-Feb-1944',
 '10-Jun-2000',
 '12-Jun-2012',
 '1876',
 '16-Feb-1946',
 '14-Jul-1920',
 'Reported 19-Dec-1950',
 '23-Sep-1956',
 '24-Nov-1924',
 '05-Jul-1787',
 '21-Nov-1924',
 '21-Dec-1972',
 'Reported 17-Dec-1896',
 '08-May-1964',
 '13-Feb-1886',
 '12-May-2009',
 '23-Aug-2011',
 'Jun-1993',
 '23-Feb-1998',
 '10-Jul-1905',
 '12-Mar-1887',
 '27-Aug-2014',
 '31-Oct-2013',
 '27-May-2013',
 '05-Dec-1948',
 '18-Feb-1962',
 '26-Jan-2014',
 '08-Aug-1878',
 '24-Feb-1963',
 '06-Jan-1967',
 '24-Aug-2011 ',
 '5-Feb-1970',
 '24-Dec-2005',
 '11-Jan-2006',
 '10-Jan-2009',
 '30-Oct-1990',
 '06-Sep-1969',
 '02-Aug-1997',
 '16-Apr-1961',
 '03-Jul-1927',
 '27-Oct-2003',
 '13-Jan-1915',
 '27-Jul-2008',
 '1999',
 '12-Apr-2009',
 'Dec-1968',
 'Reported 27-Jul-1947',
 '17-Dec-1967',
 '16-Jun-2005',
 'Feb-1981',
 '06-Sep-2016',
 '25-Apr-1996',
 '1980',
 '09-May-2015',
 '07-Feb-1960',
 '20-Jun-1956',
 '16-Dec-2004',
 '23-Oct-1934',
 '25-Nov-1942',
 '11-Nov-1985',
 '28-Jul-2007',
 '26-Feb-1939',
 '15-May-1937',
 '29-Jun-1964',
 'Reported 11-Sep-1936',
 'May-2003',
 '1820s',
 '15-Jul-2000',
 '04-Dec-1943',
 '04-Apr-1928',
 '04-Jun-2005',
 '06-Apr-1952',
 'Reported 15-Dec-1909',
 '03-Apr-1916',
 '27-Sep-1981',
 '25-Mar-1981',
 '25-Nov-1941',
 'Reported 10-May-2014',
 'Reported 25-Feb-1883',
 '10-Mar-1992',
 '22-Jun-2003',
 '16-May-1966',
 '26-May-1974',
 '26-Jul-1916',
 'Before Feb-1998',
 '  02-Jun-1899',
 'Reported 04-Feb-2011',
 'Reported 20-Jun-1892',
 '06-Aug-2009',
 '1853 or 1854',
 '06-Apr-1947',
 'Reported 09-Jul-1863',
 '17-Nov-1980',
 'Jul-1943',
 '26-Jul-2002',
 '02-Sep-2009',
 '23-Jun-2016',
 '28-Dec-1992',
 '26-Aug-1991',
 '06-26-1890',
 '16-Jan-2009',
 '02-Sep-1948',
 '28-Sep-1981',
 '1881',
 '03-May-2015',
 '19-Mar-2002',
 'Reported 01-Jul-1954',
 '11-Aug-1996',
 '23-Mar-1994',
 '10-Jul-1958',
 '31-Jul-2011',
 '22-Feb-1934',
 '31-Mar-2015',
 '22-Jan-1967',
 'Late Jul-1900',
 '29-Dec-1976',
 '23-Jul-1912',
 '02-Apr-2002',
 '26-Aug-1964',
 '23-Jan-1992',
 '08-Sep-2001',
 '11-Jul-1963',
 '09-Jun-1997',
 'Summer 1980',
 '03-Sep-2017',
 '28-Sep-1988',
 '30-May-2010',
 '24-May-2007',
 '  29-Jul-2013',
 '26-Dec-1942',
 '26-Dec-1957',
 '14-Jul-1997',
 'Reported 16-Dec-1908',
 'Jan-1913',
 '05-Oct-1994',
 '03-Dec-1882',
 '27-Jun-1960',
 '05-Feb-1964',
 '26-Feb-1996',
 '25-Aug-1960',
 '2003?',
 '17-Feb-1961',
 '15-Jul-2016',
 '30-Oct-2004',
 '23-Feb-1962',
 'Reported 1637',
 '09-Jul-2006.',
 '30-Jun-1916',
 'Reported 28-Mar-1924',
 'Reported 04-May-1899',
 '19-Oct-1966',
 'Reported 02-Jan-1961',
 'Jun-1954',
 '19-Oct-1981',
 '09-Jul-2002',
 '06-Mar-2009',
 '01-Sep-1967',
 '19-Jun-1992',
 '1910',
 '16-Mar-1859',
 ' 18-Nov-1948',
 '14-Jan-2007',
 'Late May 1993',
 '13-Dec-1929',
 'Reported 09-Oct-1852',
 '13-Apr-2011',
 '24-Mar-1939',
 '18-Aug-1938',
 '12-Sep-2003',
 'Said to be 1941-1945, more likely 1945',
 '02-Jan-1971',
 '19-Apr-2009',
 '07-Jan-2007',
 '13-Sep-2003',
 'Reported 30-Dec-1919',
 'Reported 08-Jun-1942',
 '07-Oct-2001',
 '21-Dec-1929',
 '25-Jul-2001',
 'Ca. 1911',
 '19-Jul-1847',
 'May 1956',
 '01-Apr-1934',
 '20-Sep-1955',
 '29-Jun-1960',
 'Apr-1960',
 '16-Oct-1881',
 '15-Aug-2000',
 '10-Aug-2000',
 '16-Dec-2009',
 ' 07-Apr-1877',
 '18-Oct-2009',
 '03-Jul-1893',
 '29-Aug-1962',
 '01-Sep-2009',
 '13-Feb-1982',
 'Mar-1955',
 '28-Sep-1922',
 '12-Jan-2010',
 '06-Oct-2004',
 '11-Jan-1976',
 '04-Jun-1960',
 '1982',
 '11-Jan-2009',
 '18-Jun-1935',
 'Reported 16-Jul-1911',
 'Reported 10-Sep-1973',
 '15-Feb-1989',
 '13-Feb-2010',
 '25-Nov-1992',
 '19-Aug-1988',
 '05-Jan-2010',
 '25-Apr-2015',
 'Dec-1949',
 '06-Jun-1923',
 '12-Jul-1997',
 '13-Jun-2015',
 'Reported 31-Aug-1962',
 'Jul-1848',
 '4-Feb-1940',
 '19-Sep-1945',
 '20-Jun-2012',
 'Reported 1776',
 '11-Feb-1937',
 'Feb-1947',
 'Reported 02-Apr-2013',
 '22-Sep-1948',
 '12-Mar-1929',
 '13-Sep-1992',
 '1642',
 '20-Jan-1953',
 '19-Dec-1959',
 'Apr-1947',
 '21-Dec-1928',
 'Reported 18-Sep-1840',
 '10-May-2002',
 'Reported 24-Jun-1928',
 '24-Nov-1973',
 '29-Mar-1915',
 '26-Aug-1999',
 '15-Jun-1970',
 '19-Jan-2012',
 '10-Sep-1999',
 '10-Nov-2014',
 '1883-1889',
 '1942',
 '15-Jun-1945',
 '24-Sep-2017',
 '27-Oct-1971',
 '12-Feb-2011',
 '1963',
 '06-Jan-1988',
 'Aug-1871',
 '23-Apr-1895',
 'Reported 16-May-1910',
 'Reported 27-Jan-2009',
 'Before 2016',
 '07-Jul-2009',
 '24-Nov-1910',
 '17-Jul-2005',
 '22-Mar-1993',
 'Sep-1992',
 '15-Aug-1993',
 '24-Aug-1946',
 '12-Oct-1921',
 '19-Sep-2011',
 '27-Jan-1959',
 '28-Jan-1906',
 '12-Sep-1965',
 '27-Dec-1900',
 '14-Dec-2007',
 '18-Aug-2010',
 '14-Apr-2018',
 'Reported 12-Nov-1959',
 '24-Dec-1983',
 'Reported 28-Mar-1928',
 '09-Oct-1994',
 'Apr-1944',
 '10-Apr-2001',
 '16-Apr-2011',
 '29-Jun-1983',
 '22-Feb-2016',
 '25-Mar-2005',
 'Reported 16-Sep-1998',
 '16-Apr-1991',
 '12-Jul-1926',
 '08-Sep-2015',
 'Oct-1927',
 '24-Jun-1961',
 '04-Sep-1954',
 '21-Dec-2011',
 '24-Jun-2011',
 '15-Jun-1975',
 'Nov-1991',
 'Reported 24-Oct-1878',
 '20-Jun-1934',
 '27-Mar-2009',
 'Reported 08-Aug-1907',
 '11-Feb-1984',
 '24-Oct-1970',
 '27-Aug-1967',
 '03-Sep-1981',
 '27-Nov-2010',
 '19-Sep-1976',
 '14-Jul-1862',
 '28-Jul-2016',
 '01-Feb-1975',
 '27-Mar-1860',
 '31-Aug-1977',
 '06-Oct-1976',
 'Reported 28-Oct-2011',
 '16-Mar-1931',
 'Reported 02-Jun-1958',
 '1917',
 '08-Feb-1929',
 '04-May-1988',
 '29-Jan-2016',
 '12-Mar-1993',
 '18-Apr-2016',
 '20-Aug-1961',
 '10-Jun-2001',
 '06-Feb-1967',
 '27-Sep-2007',
 '30-Aug-1912',
 '15-Dec-2014',
 '11-Mar-2017',
 '24-Jul-1909',
 '29-Aug-2001',
 '29-Aug-2010',
 '27-Nov-1913',
 '14-Feb-1964',
 '12-Oct-2014',
 '30-Nov-1984',
 '14-Jan-1947',
 '18-Jun-2014',
 'Reported 09-Apr-1909',
 '19-Jul-2007.b',
 '02-Jan-2016',
 '29-Aug-1992',
 'Late Jul-2008',
 '1968',
 '1886',
 '10-Mar-2015',
 'Late Aug-1905',
 '02-Apr-1978',
 '02-Oct-2001',
 '09-Apr-2005',
 '14-Jul-1939',
 '24-Feb-1991',
 '15-Jan-2011',
 '13-Dec-1961',
 '19-Mar-1967',
 '11-Jul-1988',
 '08-Jan-1976',
 '29-Nov-1929',
 'Jul-1947',
 '11-Mar-1948',
 '24-Mar-1981',
 'Feb-1961',
 '05-May-2006',
 '25-Jul-1880',
 '21-May-1895',
 ' 11-Mar-1877',
 'Some time between 08-Jan-1928 & 21-Jan-1928',
 '08-Jun-2014',
 '20-Dec-2009',
 '01-Feb-1941',
 '02-Feb-1988',
 '28-May-1899',
 '25-Dec-1973',
 '11-Aug--2011',
 '14-Aug-1977',
 '26-Nov-1976',
 '2008.01.30',
 '30-Aug-1931',
 '24-Jan-2016',
 '19-Apr-1983',
 'Oct-1967',
 '13-Apr-2017',
 '27-Sep-2010',
 '16-Sep-1978',
 '26-Jan-1943',
 '28-Mar-1992',
 '10-May-2008',
 '18-Aug-1946',
 '22-Oct-2011',
 '03-Aug-1964',
 '06-Sep-1976',
 '27-Jan-2015',
 '11-Dec-1994',
 'Mar-1959',
 '04-Oct-1939',
 '21-Sep-2002',
 '17-Jun-1999',
 '06-Apr-2009',
 '07-Aug-1984',
 '13-Aug-2000',
 ' 21-Sep-2013',
 '12-Aug-1881',
 '29-Dec-1975',
 '2000',
 'Before 2004',
 '06-Nov-1994',
 'Reported 17-Feb-1877',
 '31-May-2016',
 '18-Apr-1975',
 '03-Jan-1989',
 '11-Mar-1980',
 '5-Apr-1971',
 '1930',
 '26-Sep-1959',
 '02-Jul-1932',
 'Late Jul-1959',
 'May 1982',
 '10-Aug-1932',
 '1974',
 '13-Sep-2002',
 '05-Oct-2015',
 'Reported 14-Apr-1928',
 '11-Nov-2002',
 '27-Jul-2005',
 '07-Apr-1968',
 '19-Jul-2010',
 '03-May-1933',
 '16-Sep-2001',
 '01-Jan-2002',
 '12-Jun-2007',
 '01-Nov-1959',
 '07-Dec-1959',
 '20-Jul-1969',
 '04-Jun-1930',
 '04-Jul-1958',
 '04-Jun-2016',
 '02-Nov-1904',
 'Before 1917',
 '11-Oct-2002',
 'Reported 02-Dec-1926',
 '10-Jun-2012',
 '28-Jul-1954',
 '07-Feb-1962',
 '01-Jun-2014',
 '12-Aug-1975',
 '03-Jun-2018',
 '18-May-2004',
 '21-Sep-1913',
 '05-Sep-1971',
 '10-Oct-1988',
 '25-Jun-2016',
 '09-Oct-2000',
 '05-Sep-2005',
 '31-Mar-1998',
 '08-Feb-2015',
 '28-Jul-1995',
 '26-Jun-2003',
 'Early Jul-1980',
 '09-Oct-1996',
 'Reported 27-Nov-1875',
 '11-Nov-1960',
 '16-Oct-1955',
 'Nov-1947',
 '28-Jan-1886',
 '23-Jan-2004',
 '25-Mar-1988',
 'Reported 04-Sep-1909',
 '1880-1899',
 'Reported May-28-1797',
 '27-Aug-2017',
 '02-Nov-1998',
 '09-Jan-1974',
 '09-Jul-1986',
 '15-Jul-1917',
 '10-Jul-1968',
 'Aug-2000',
 'Reported 21-Dec-1967',
 '01-Jun-2015',
 'Reported 02-Jun-2008',
 '25-Sep-1941',
 '23-Jul-2006',
 '17-Jun-1992',
 '09-May-2012',
 '31-Dec-2003',
 '06-Jan-1992',
 'Reported 09-Apr-2008',
 '27-Jun-2009',
 '07-Jan-2004',
 '12-Aug-2003',
 '08-Mar-1910',
 'Reported 03-Sept-1816',
 '15-Apr-2014',
 '18-Sep-1960',
 'Reported 08-Apr-1935',
 'Reported 06-Sep-1905',
 '29-Apr-1853',
 '28-Aug-2007',
 '24-Dec-1972',
 '12-Apr-1955',
 'Nov-1918',
 '29-Jun-1982',
 '26-Mar-1973',
 '02-Dec-1975',
 '02-Mar-1922',
 '02-Jul-1977',
 '13-Jan-2018',
 '22-Mar-2006',
 '10-Oct-2012',
 '08-Aug-1968',
 'Reported 26-Sep-1922',
 '16-Dec-2002',
 '15-Feb-1953',
 '13-Dec-1970',
 '03-Jul-2010',
 '06-Jan-1961',
 '05-Dec-1909',
 '21-Nov-1993',
 '29-Nov-1920',
 'July 1991',
 '02-Nov-2002',
 '26-Feb-1977',
 '17-Oct-1923',
 '19-Jul-1988',
 '03-Feb-1976',
 '03-Sep-1989',
 '24-Aug-1936',
 '09-Sep-1914',
 '9-Jul-2014',
 'Jul-1837',
 '15-Feb-2010',
 '03-Apr-1960',
 '21-Jun-1978',
 'Before 2006',
 '16-Sep-2011',
 'Reported 24-Jan-1877',
 'Sep-1864',
 'Reported 17-Mar-2009',
 '06-Sep-2012',
 'Jul-1905',
 '16-Jul-1968',
 '27-Mar-1913',
 '12-Mar-2014',
 'Jan-1969',
 '14-Jul-1996',
 '19-Jun-1979',
 '04-Mar-1956',
 'Apr-1966',
 '27-Jul-2015',
 '03-Feb-2018',
 '25-Jul-1983',
 '20-Nov-1899',
 '20-Jul-2002',
 '30-Jun-2003',
 '06-Apr-2017',
 '01-Sep-1937',
 '22-Sep-1962',
 'Reported 02-Jul-1954',
 '2004',
 '02-Mar-2000',
 '1898 (soon after the close of the Spanish-American War)',
 'Reported 28-Jan-1998',
 '17-May-2009',
 '02-Nov-1975',
 '22-May-1905',
 '27-Jun-1954',
 'Aug-1995',
 '04-Apr-1929',
 '14-Jan-1966',
 'Reported 16-Jun-1851',
 '17-Oct-1984',
 '22-May-2002',
 '28-Apr-1988',
 '10-Mar-1968',
 'Reported 31-Dec-1955',
 '05-Jun-1989',
 '07-Feb-2008',
 '08-Nov-1947',
 '25-Jan-2007',
 '24-Feb-2018',
 'Reported 23-Jan-1832',
 '26-Sep-1993',
 '26-Dec-1948',
 '15-Jun-2006',
 '06-Oct-1962',
 'Mar-1961',
 'Aug-1964',
 '25-Jul-1896',
 '14-Jun-2015',
 '30-May-2017',
 '21-Apr-2003',
 '17-Aug-2010',
 '12-Jan-1996',
 '27-Jul-1968',
 '16-Feb-1959',
 '12-Mar-2013',
 '13-Jan-2013',
 '28-Mar-2004',
 '01-Jan-1962',
 '04-Apr-1953',
 '07-Oct-1959',
 '16-Dec-1951',
 'Reported 29-Nov-2005',
 ...}

In [827]:
set(list(tiburon_clean["type"].unique()))

{'Boat',
 'Boating',
 'Boatomg',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked',
 nan}

In [828]:
set(list(tiburon_clean["country"].unique()))

{' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANDAMAN ISLANDS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA?',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON',
 'CEYLON (SRI LANKA)',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COMOROS',
 'COOK ISLANDS',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT ',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEXICO',
 'MEXICO ',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NICARAGUA ',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH ATLANTIC OCEAN ',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PERU',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'RED SEA?',
 'REUNION',
 'REUNION ISLAND',
 'ROATAN',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST HELENA, British overseas territory',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'SWEDEN',
 'SYRIA',
 'Seychelles',
 'Sierra Leone',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TOBAGO',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN ',
 nan}

In [829]:
tiburon_clean.activity.fillna("unknow",inplace=True)

In [830]:
def regex_activity(x):
    return "".join(re.findall(r'\b(\w+ing)\b',x)).lower()

In [831]:
tiburon_clean["activity_verb"] = tiburon_clean.activity.apply(regex_activity)

In [832]:
set(list(tiburon_clean["activity_verb"].unique()))

{'',
 'abandoningburning',
 'abandoningburningraging',
 'angling',
 'ascending',
 'attaching',
 'attempting',
 'attemptingdrowning',
 'attemptingfishing',
 'attemptingsailing',
 'attemptingswimming',
 'awaiting',
 'bathing',
 'bathingstanding',
 'bathingsurfing',
 'bathingswimming',
 'bathingwashing',
 'bathingwhaling',
 'being',
 'beingfishing',
 'bending',
 'boarding',
 'boardingsurfing',
 'boardingswimming',
 'boardingwading',
 'boating',
 'bodyboarding',
 'bodysurfing',
 'boeing',
 'bringing',
 'burning',
 'canoeing',
 'carrying',
 'casting',
 'catching',
 'chasingbathingriding',
 'checking',
 'chumming',
 'clamming',
 'cleaning',
 'climbing',
 'climbingrepairing',
 'clinging',
 'clingingrowing',
 'collecting',
 'coming',
 'competingfishing',
 'competingrowing',
 'competingspearfishingtowing',
 'competingstanding',
 'conducting',
 'crabbing',
 'crabbingspearing',
 'crawling',
 'crayfishing',
 'crossing',
 'crossingfighting',
 'crossingswimming',
 'crouching',
 'cruising',
 'cutting',
 'dangling',
 'defecating',
 'deserting',
 'dismantling',
 'ditching',
 'diving',
 'divingascending',
 'divingascendingusing',
 'divingattempting',
 'divingattemptingdrowning',
 'divingcarrying',
 'divingcircling',
 'divingcollecting',
 'divingculling',
 'divingdescending',
 'divingdiving',
 'divingfeeding',
 'divingfilming',
 'divingfilmingpulling',
 'divingfishing',
 'divingfloating',
 'divinggathering',
 'divinghunting',
 'divingkissing',
 'divingkneeling',
 'divinglaying',
 'divingmodeling',
 'divingpearling',
 'divingphotographing',
 'divingrecovering',
 'divingrepairing',
 'divingretrieving',
 'divingriding',
 'divingspearfishing',
 'divingspearfishingascending',
 'divingspearfishingdescending',
 'divingspearfishingfloating',
 'divingspearfishingresting',
 'divingstanding',
 'divingsurfacing',
 'divingsurveyingexaming',
 'divingswimming',
 'divingtowing',
 'divingtreading',
 'divingusing',
 'divingusingcalving',
 'divingusingresting',
 'divingwading',
 'divingworking',
 'dragging',
 'drawing',
 'dropping',
 'drowning',
 'during',
 'duringfilming',
 'duringfishingthrowing',
 'dynamiting',
 'escaping',
 'escapingblackbirding',
 'examining',
 'exercising',
 'expecting',
 'feeding',
 'feeling',
 'fighting',
 'filming',
 'filmingcarrying',
 'filmingfeeding',
 'filmingstanding',
 'finning',
 'fishing',
 'fishingbasking',
 'fishingbeingbreaking',
 'fishingcasting',
 'fishingcatching',
 'fishingcleaning',
 'fishingclinging',
 'fishingdiving',
 'fishingfishing',
 'fishinghauling',
 'fishinghaulingfishing',
 'fishingholding',
 'fishinglifting',
 'fishingpicking',
 'fishingremoving',
 'fishingretrieving',
 'fishingseining',
 'fishingsetting',
 'fishingsittingdangling',
 'fishingspearfishing',
 'fishingstanding',
 'fishingstandingwashing',
 'fishingswimming',
 'fishingthrowing',
 'fishingtossing',
 'fishingtrailing',
 'fishingtrawling',
 'fishingtreading',
 'fishingtrolling',
 'fishingtryingfishing',
 'fishingwading',
 'fishingwadingstring',
 'fishingwalking',
 'fishingwashing',
 'fishingwearingdrifting',
 'fishingwhiting',
 'fleeing',
 'floating',
 'floatingdiving',
 'floatingfallingjumping',
 'floatingholding',
 'floatingobserving',
 'floatingstanding',
 'flying',
 'flyingswimming',
 'footing',
 'foundering',
 'freediving',
 'freedivinginspectingblastingdredging',
 'gaffing',
 'gaffingattemptingbring',
 'gathering',
 'gigging',
 'grabbing',
 'guarding',
 'hanging',
 'harassing',
 'harpooning',
 'hauling',
 'helping',
 'hiking',
 'hoistingfishing',
 'holding',
 'holdingdangling',
 'hooking',
 'hunting',
 'inspecting',
 'investigatingsighting',
 'involving',
 'jumping',
 'kakaying',
 'kayaking',
 'kayakingfishing',
 'kayakingreturningspearfishing',
 'kayakingskiing',
 'killing',
 'king',
 'kiteboarding',
 'kitesurfing',
 'kneeling',
 'landing',
 'lashing',
 'launching',
 'leaving',
 'lifesaving',
 'lining',
 'loadingbathing',
 'lobstering',
 'longlingfishing',
 'lying',
 'lyingpaddling',
 'measuring',
 'meshing',
 'missingbailing',
 'morning',
 'moving',
 'movingplacing',
 'murdering',
 'netting',
 'observingfeeding',
 'oystering',
 'paddleboarding',
 'paddleskiing',
 'paddling',
 'paddlingsailing',
 'paddlingstanding',
 'painting',
 'pearling',
 'petting',
 'photographing',
 'photographingusing',
 'picking',
 'playing',
 'playingjumping',
 'playingmissing',
 'playingstanding',
 'preparing',
 'preparingdiving',
 'pulling',
 'pursuing',
 'racing',
 'reaching',
 'reading',
 'removing',
 'rescuing',
 'resting',
 'restraining',
 'retrieving',
 'returning',
 'reviving',
 'riding',
 'rowing',
 'rowingattempting',
 'sailboarding',
 'sailing',
 'salvaging',
 'scooping',
 'sculling',
 'scurfingbeing',
 'searching',
 'seeing',
 'seiningstanding',
 'setting',
 'shelling',
 'shooting',
 'shrimping',
 'sinking',
 'sinkingbeing',
 'sinkingduring',
 'sinkingfishing',
 'sitting',
 'sittingmending',
 'sittting',
 'skiing',
 'skimboarding',
 'skindiving',
 'sleeping',
 'snorkeling',
 'snorkelingcarrying',
 'snorkelingfilming',
 'snorkelingholding',
 'snorkelinghunting',
 'spearfishing',
 'spearfishingcarrying',
 'spearfishingdiving',
 'spearfishingdivingcruising',
 'spearfishingfilming',
 'spearfishingfishing',
 'spearfishingfreediving',
 'spearfishingholding',
 'spearfishinghunting',
 'spearfishingstanding',
 'spearfishingswimming',
 'spearfishingtransferring',
 'spearfishingtreading',
 'spearfishingusing',
 'spearfishingusingtrailingstringbleeding',
 'spearfishingwalkingcarrying',
 'spearing',
 'splashing',
 'splashingwading',
 'stamding',
 'standing',
 'standingbathing',
 'standingcollecting',
 'standingfishing',
 'standinggathering',
 'standinghelpingcontaining',
 'standingholding',
 'standingsnorkeling',
 'standingsurfing',
 'standingwading',
 'standingwashing',
 'standingwatching',
 'stuffing',
 'sunbathingbeing',
 'surfing',
 'surfingboarding',
 'surfingdangling',
 'surfingfilming',
 'surfinglying',
 'surfingpaddling',
 'surfingpushing',
 'surfingsailboarding',
 'surfingsitting',
 'surfingstanding',
 'surfingsurfing',
 'surfingswimming',
 'surfingtreading',
 'surfingwading',
 'swimming',
 'swimmingattemptingdrifting',
 'swimmingattemptingdrowning',
 'swimmingbeing',
 'swimmingboarding',
 'swimmingcanning',
 'swimmingcarrying',
 'swimmingducking',
 'swimmingescaping',
 'swimmingfalling',
 'swimmingfallingsealing',
 'swimmingfeeding',
 'swimmingfishing',
 'swimmingfishingsetting',
 'swimmingfloating',
 'swimmingjumping',
 'swimmingpearling',
 'swimmingpoaching',
 'swimmingrecovering',
 'swimmingsnorkeling',
 'swimmingsplashing',
 'swimmingsurfing',
 'swimmingtowing',
 'swimmingtreading',
 'swimmingusing',
 'swimmingwading',
 'swimmingwashingcooking',
 'swimmingwatching',
 'swimmingwearing',
 'tagging',
 'taking',
 'takingswimming',
 'teasing',
 'testing',
 'testingdiving',
 'thrashingimitating',
 'throwing',
 'touching',
 'towing',
 'trailing',
 'traveling',
 'travellingswimming',
 'treading',
 'treadingawaiting',
 'treadingsurfing',
 'treadingwaiting',
 'trying',
 'wading',
 'wadingcarrying',
 'wadingfishing',
 'wadingfishingcarrying',
 'wadingnetting',
 'wadingpushing',
 'wadingshrimping',
 'wadingsurfing',
 'wadingswimming',
 'waiting',
 'wakeboarding',
 'walking',
 'walkingcarrying',
 'walkingsurfing',
 'washing',
 'washingcooking',
 'watching',
 'watchingfeeding',
 'wearing',
 'wearingusing',
 'windsurfing',
 'windsurfingsitting',
 'windsurfingurinating',
 'working',
 'wrangling',
 'yachting'}

In [833]:
tiburon_clean

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,activity_verb
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,paddling
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,standing
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,surfing
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,surfing
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,diving
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,diving
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,diving
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,swimming
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",unknow,Jules Patterson,M,NaN,FATAL,Y,
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,swimming

In [834]:
def activity_grouping(x):
    if "swimming" in x or "diving" in x or "snorkel" in x or "drown" in x or "float" in x:
        return "swimming"
    elif "surfing" in x or "board" in x or "paddl" in x: 
        return "surfing"
    elif "netting" in x or "fishing" in x or "shell" in x or "oyster" in x or "lobster" in x or "pearl" in x or "spear" in x or "harpoon" in x or "crab" in x or "shrimp" in x:
        return "fishing"
    elif "boat" in x or "kayak" in x or "canoe" in x or "kakay" in x or "sail" in x or "sink" in x or "ski" in x or "row" in x:
        return "vessel related"
    elif "collecting" in x or "washing" in x or "wading" in x or "stand" in x or "knee" in x or "walking" in x or "splash" in x or "bath" in x or "sitting" in x or "tread" in x:
        return "Close to the water"
    else:
        return "other"

In [835]:
tiburon_clean["activity_verb2"] = tiburon_clean.activity_verb.apply(activity_grouping)

In [836]:
set(list(tiburon_clean["activity_verb2"].unique()))

{'Close to the water',
 'fishing',
 'other',
 'surfing',
 'swimming',
 'vessel related'}

In [837]:
tiburon_clean["activity_verb2"].value_counts()

swimming              1836
other                 1295
surfing               1288
fishing               1141
Close to the water     594
vessel related         148
Name: activity_verb2, dtype: int64

In [838]:
# Here we changed all the nan to the word we wanted
tiburon_clean.sex.fillna("unknow",inplace=True)

In [839]:
# here we modified one speceific column with the info we want, getting rid of spaces
tiburon_clean.sex = tiburon_clean.sex.str.strip()

In [840]:
# we make a dict with the key an value that we want to change
cleandict = {".":"unknow","lli":"unknow","N":"M"}
tiburon_clean.sex = tiburon_clean.sex.replace(cleandict)

In [841]:
set(list(tiburon_clean["sex"].unique()))

{'F', 'M', 'unknow'}

In [842]:
tiburon_clean.age.fillna("unknow",inplace=True)

In [843]:
#Ricardo, esto fue lo que hiciste: primero querias limpiar la data a numeros asi que en regex usuaste: 
# re.findall(r'\b\d+\b',x)
#Luego para que esa lista pasara a integros usaste: [int(i) for i in re.findall(r'\b\d+\b',x)]
#Para sacar la media en np colocaste: np.mean([int(i) for i in re.findall(r'\b\d+\b',x)])
#por ultimo, para no tener float colocaste: int()

#ok, por que los loops? pues facil, te diste cuenta que la lsita peude estar vacia y que te daba error
#por el mean, asi que le pediste que si la lista estaba vacia pues te diera unknow, sino, lo de arriba
def regex_age(x):
    if "month" in x:
        return "unknow"
    else:
        if [int(i) for i in re.findall(r'\b\d+\b',x)] == []:
            return "unknow"
        else:
            return int(np.mean([int(i) for i in re.findall(r'\b\d+\b',x)]))

In [844]:
tiburon_clean["age_2"] = tiburon_clean.age.apply(regex_age)

In [845]:
set(list(tiburon_clean["age_2"].unique()))

{1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 3,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 5,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 6,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 7,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 78,
 8,
 81,
 82,
 84,
 86,
 87,
 9,
 'unknow'}

In [846]:
tiburon_clean.fatal.fillna("unknow",inplace=True)

In [847]:
tiburon_clean.fatal = tiburon_clean.fatal.str.strip()

In [848]:
dict_fatal = {"2017":"unknow","M":"N","UNKNOWN":"unknow","y":"Y"}
tiburon_clean.fatal = tiburon_clean.fatal.replace(dict_fatal)

In [849]:
set(list(tiburon_clean["fatal"].unique()))

{'N', 'Y', 'unknow'}

In [850]:
tiburon_clean.sample(50)

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,activity_verb,activity_verb2,age_2
4461,28-Oct-1950,1950.0,Unprovoked,USA,California,"Imperial Beach, San Diego County",Body surfing / treading water,Robert B. Campbell,M,31,Right leg lacerated,N,surfingtreading,surfing,31
2364,28-Jul-1995,1995.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,unknow,Left foot bitten,N,surfing,surfing,unknow
771,Reported 28-Jun-2012,2012.0,Invalid,CROATIA,NaN,Buccari Bay,Swimming,NaN,unknow,60,Leg struck. Initally reported as a shark attac...,unknow,swimming,swimming,60
1883,07-Feb-2002,2002.0,Boating,AUSTRALIA,New South Wales,Paramatta River (near Sydney),Kayaking,Paul McNamara,M,35,Stern of kayak bitten/chest bruised,N,kayaking,vessel related,35
1009,17-Jul-2010,2010.0,Unprovoked,USA,North Carolina,"Wrightsville Beach, New Hanover County",Swimming,Kendall Parker,F,13,Lacerations to right forearm,N,swimming,swimming,13
1598,07-Apr-2005,2005.0,Unprovoked,USA,Texas,"Isla Blanca Park, South Padre Island, Cameron ...",Surfing,Gianluca Ferrario,M,37,Left foot bitten,N,surfing,surfing,37
2595,28-Jun-1991,1991.0,Unprovoked,HONG KONG,Kowloon Peninsula,Sai Kung,Fishing,male,M,unknow,"FATAL, right arm severed",Y,fishing,fishing,unknow
1412,18-Dec-2006,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,Left leg bitten,N,surfing,surfing,25
636,25-Aug-2013,2013.0,Unprovoked,AUSTRALIA,New South Wales,Smiths,Wrangling a shark,Otto Lee,M,unknow,Lacerations to left forearm,N,wrangling,other,unknow
2253,31-May-1997,1997.0,Unprovoked,USA,Florida,"Flagler Beach, Flagler County",Surfing,Robert Fuller,M,34,Left elbow bitten,N,surfing,surfing,34
98,26-Aug-2017,2017.0,Invalid,SPAIN,CastellÃ³n,Grao de Moncofa,Swimming,female,F,11,Lacerations to left foot,unknow,swimming,swimming,11
3457,22-Sep-1968,1968.0,Invalid,USA,Florida,"Riviera Beach, Palm Beach County",Surfing,NaN,unknow,unknow,NaN,unknow,surfing,surfing,unknow
1214,28-Aug-2008,2008.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Thomas Gold,M,19,Superfical cut to left ankle,N,surfing,surfing,19
4803,Ca. 1939,1939.0,Boating,BAHAMAS,Andros Islands,Middle Bight,Fishing,"12' skiff, occupant: E.R.F. Johnson",unknow,unknow,"No injury to occupant, shark rammed bow of boat",N,fishing,fishing,unknow
483,20-Oct-2014,2014.0,Unprovoked,USA,Hawaii,"Kahului, Maui",Stand-Up Paddleboarding,male,M,unknow,"No injury, paddleboard bitten",N,paddleboarding,surfing,unknow
5549,30-Jan-1901,1901.0,Unprovoked,AUSTRALIA,Queensland,Brisbane,Bathing,John Thompson,M,unknow,"Thigh bitten, FATAL",Y,bathing,Close to the water,unknow
759,30-Jul-2012,2012.0,Unprovoked,USA,Hawaii,"MahaÂulepu Beach, Kauai",Surfing,Steve Stotts,M,44,Left foot bitten,N,surfing,surfing,44
4801,12-Jan-1939,1939.0,Unprovoked,AUSTRALIA,New South Wales,Clarence River,Scooping prawns,Earl Yager & Riley McLachlan,M,Both 11,No injury,N,scooping,other,11
4224,Reported 15-Dec-1956,1956.0,Unprovoked,GABON,Estuaire Province,Owendo,Swimming,P. Allen,M,unknow,FATAL,Y,swimming,swimming,unknow
787,03-Jun-2012,2012.0,Unprovoked,AUSTRALIA,New South Wales,"Redhead Beach, Newcastle",Surf skiing,Mark Ayre,M,30,"No injury, ski bitten",N,skiing,vessel related,30
2550,17-Jun-1992,1992.0,Boat,JAPAN,Ehime Prefecture,"1.5 km north of Igata-cho, 60 km south of Mats...",Preparing to fish for jack-mackerel,"5.75 m wooden boat, occupant: Yoshaiaki Ueda",unknow,unknow,No inujury to occupant. Shark bit boat repeate...,N,preparing,other,unknow
1586,25-May-2005,2005.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Kei River Mouth,Surfing,Jay Catherall,M,32,Left buttock & legs lacerated,N,surfing,surfing,32
645,30-Jul-2013,2013.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Swimming,Ty Bretz,M,32,Foot bitten,N,swimming,swimming,32
3551,18-Sep-1966,1966.0,Invalid,AUSTRALIA,Western Australia,"Little Beach Reef, Bremer Bay",Spearfishing,John Marsh,M,unknow,The 2.9 m [9.5'] shark never made contact wit...,unknow,spearfishing,fishing,unknow
4155,Jul-1958,1958.0,Unprovoked,USA,Florida,"Sarasota, Sarasota County",unknow,2 males admitted to Memorial Hospital emergenc...,M,unknow,Both were bitten on feet by sharks,N,,other,unknow
4940,20-Jun-1934,1934.0,Unprovoked,USA,Florida,"Melbourne, Brevard County",Standing,"Richard Clark Best, Jr.",M,8,FATAL,Y,standing,Close to the water,8
5870,1876,1876.0,Unprovoked,ENGLAND,"Between Hastings & Fairlight, Sussex",NaN,unknow,male,M,unknow,Leg abraded,N,,other,unknow
5392,Reported 29-Mar-1911,1911.0,Unprovoked,AUSTRALIA,Torres Strait,Thursday Island,Swimming,male,M,unknow,FATAL,Y,swimming,swimming,unknow
4026,Early summer 1960,1960.0,Invalid,CARIBBEAN SEA,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba",Aircraft crashed into sea,"male, airline pilot",M,unknow,"Questionable. Recovered flight gear was ""compl...",unknow,,other,unknow
1198,08-Oct-2008,2008.0,Unprovoked,USA,Florida,"Santa Rosa Beach, Walton County",Fishing,Hudson Anthony,M,11,Lacerations,N,fishing,fishing,11
3872,09-Oct-1961,1961.0,Invalid,USA,Florida,"Ocean Ridge, Boca Raton, Palm Beach County",Swimming,Alfred Haen,M,45,"Skeletonized, but shark involvement may have o...",unknow,swimming,swimming,45
1321,30-Sep-2007,2007.0,Sea Disaster,PHILIPPINES,Palawan,Off Cagayancillo,"The 426-ton cargo ship Mia, laden with cement,...",NaN,M,unknow,FATAL Only 4 of the 18 on board were re...,Y,,other,unknow
89,10-Sep-2017,2017.0,Unprovoked,AUSTRALIA,New South Wales,Iluka Beach,Surfing,Abe McGrath,M,35,Minor lacerations to right hip,N,surfing,surfing,35
3892,24-Jun-1961,1961.0,Unprovoked,USA,Florida,"500 yards from Fowey Rock Light, 9 miles east ...",Scuba diving & spearfishing,William J. Dandridge,M,23,"FATAL, arm severed & left side of torso removed",Y,divingspearfishing,swimming,23
1167,23-Jan-2009,2009.0,Invalid,BRAZIL,MaranhÃ£o,Olho d'Ãgua,Swimming,Luciano GuimarÃ£es dos Santos,M,17,"Drowned, body scavenged by shark",unknow,swimming,swimming,17
4712,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,unknow,Forearm lacerated,N,,other,unknow
527,22-Jul-2014,2014.0,Unprovoked,REUNION,Saint-Leu,NaN,Surfing,Vincent Rintz,M,51,Lacerations to right wrist & calf,N,surfing,surfing,51
4976,08-Nov-1932,1932.0,Sea Disaster,CUBA,NaN,NaN,Hurricane & Tidal Wave,NaN,unknow,unknow,NaN,unknow,,other,unknow
3036,24-Mar-1981,1981.0,Unprovoked,USA,Florida,"Singer Island, Riviera Beach, Palm Beach County",Surfing,Robert Thomas,M,24,Puncture wounds on right thigh,N,surfing,surfing,24
4374,09-Jul-1953,1953.0,Boating,CANADA,Nova Scotia,"Fourchu, Cape Breton Island",Fishing for lobsters,"12' to 14' dory, occupants: John D. Burns & Jo...",M,unknow,Burns drowned as result of attack on boat,N,fishing,fishing,unknow
1165,24-Jan-2009,2009.0,Unprovoked,AUSTRALIA,New South Wales,"Surf Beach, Batemans Bay",Swimming,Jeremy McDonagh,M,19,Hand injured,N,swimming,swimming,19
5855,07-Apr-1877,1877.0,Provoked,AUSTRALIA,Tasmania,Smelting Works Bay near Hobart,unknow,John Smart,M,unknow,Fingers injured by landed shark PROVOKED INCIDENT,N,,other,unknow
5923,17-Jan-1868,1868.0,Sea Disaster,VIETNAM,NaN,Cohong,A junk foundered,NaN,M,unknow,FATAL,Y,,other,unknow
5103,Reported 24-Jun-1928,1928.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Swimming,Jim Stevens,M,unknow,Bitten on leg,N,swimming,swimming,unknow
5443,Reported 16-Oct-1907,1907.0,Unprovoked,CHINA,Hong Kong,"Sharp Peak, Sai Kung Peninsula, New Territories",Fishing,fishermen,M,unknow,"3 of thel 5 were injured, one of whom lost bot...",N,fishing,fishing,unknow
3152,13-Mar-1977,1977.0,Sea Disaster,AUSTRALIA,Queensland,Near Moreton Island in Moreton Bay,"Their 9 m launch was run down by a 25,000-ton ...",Verdon Harrison,M,32,"His feet were bitten by sharks, but he was res...",N,clinging,other,32
1643,21-Aug-2004,2004.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Bathing,Wagner da Silva,M,24,Calf bitten & both hands injured,N,bathing,Close to the water,24
788,02-Jun-2012,2012.0,Unprovoked,USA,Florida,"Bethune Beach, Volusia County",Surfing,Angelina DelRosso,F,12,Laceration to thigh,N,surfing,surfing,12
3897,21-May-1961,1961.0,Unprovoked,USA,California,"Tomales Point, Marin County",Free diving for abalone,Rodney Orr,M,20,"No injury, wetsuit bitten",N,diving,swimming,20
3858,01-Jan-1962,1962.0,Unprovoked,MARSHALL ISLANDS,Kwajalein Atoll,Roi-namur Island,Fishing with hand net in 2' of water,Stanley Caberto,M,57,"2.5"" laceration on right hand",N,fishing,fishing,57

In [851]:
tiburon_hipotesis = tiburon_clean.drop(["activity","activity_verb","year","area","name","type"],axis=1)

In [855]:
tiburon_hipotesis.isna().sum()

date                0
country            50
location          540
sex                 0
age                 0
injury             28
fatal               0
activity_verb2      0
age_2               0
dtype: int64